@import "includes";

#navbar {
  background: #fafafa;
  // color: #fff;
  margin: 0 !important;
  position: fixed;
  margin: 0 !important;
  position: fixed;
  max-width: 100% !important;
  width: 100% !important;
  border: 0;
  border-radius: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  z-index: 999;
  box-shadow: 0 0 22px -4px rgba(0, 0, 0, 0.17);
  border-bottom: 2px solid #ebebeb;
  a.logo {
    margin: 0;
    @media (max-width: 767px) {
      padding-right: 0px;
    }
    img {
      width: 50px;
    }
  }
  &.navbar-default .navbar-brand {
    color: $black;
    font-size: 3rem;
    font-family: Franchise-Bold;
    padding: 0;
    line-height: 58px;
    padding-left: 5px;
  }
  &.navbar-default .navbar-nav {
    li a {
      color: $black;
      &.active {
        color: $brown;
      }
      &:hover {
        color: $brown;
      }
    }
    &>.active > a {
      color: $brown;
      background: transparent;
    }
    &>.active > a:hover {
      color: $brown;
      background: transparent;
    }
    &>.active > a:focus {
      color: $brown;
      background: transparent;
    }
  }
}

.site-footer {
  background: #000;
  .footer {
    margin-top: 0;
    border: 0;
  }
  a {
    color: $grey;
  }
  .timings {
    text-align: right;
  }
  .social {
    text-align: center;
    .social-icons {
      margin-bottom: 30px;
      a {
        display: inline-block;
        margin: 0 8px 0 0;
        width: 31px;
        height: 31px;
        border: 2px solid #fff;
        border-radius: 50%;
        &:hover {
          background: white;
          i {
            color: #000;
          }
        }
        &:last-child {
          margin: 0;
        }
        i {
          color: #fff;
        }
      }
    }
  }
  .email {
    margin-bottom: 10px;
  }
  .footer-title {
    color: #fff;
    font-weight: bold;
    margin-bottom: 15px;
  }
  .location, .social, .timings {
    width: 33.33%;
    @media (max-width: 600px) {
      width: 100%;
      margin-bottom: 20px;
      text-align: center;
      .footer-title {
        line-height: 1.2;
        margin-bottom: 5px;
      }
      .social-icons, .email, .phone {
        margin-bottom: 5px;
      }
      p {
        line-height: 1.2;
        margin-bottom: 5px;
      }
    }
  }
}

body.page-admin-dashboard, body.page-client-daily-log- {
  .view-admin-dashboard, .view-id-client_daily_log {
    table {
      border-spacing: 0;
      border-collapse: collapse;
      thead {
        tr {
          background: $black;
          color: #fff;
        }
      }
    }
    table, td, th {
      border: 1px solid #ddd;
    }
    th {
      vertical-align: top;
    }
  }
}

body.page-coach-dashboard {
  .coach-accordion {
    .panel.panel-default {
      // display: inline-block;
      // padding-right: 5px;
      padding-bottom: 20px;
      // width: 32%;
      border: 0;
      border-radius: 0;
      box-shadow: unset;
      vertical-align: top;
      margin: 0;
      p {
        line-height: 1.2;
      }
      &:nth-child(5n+1) {
        .panel-heading {
          background: #47D7B3;
        }
        .panel-collapse {
          border: 2px dashed #47D7B3;
        }
      }
      &:nth-child(5n+2) {
        .panel-heading {
          background: #A26CC4;
        }
        .panel-collapse {
          border: 2px dashed #A26CC4;
        }
      }
      &:nth-child(5n+3) {
        .panel-heading {
          background: #E87352;
        }
        .panel-collapse {
          border: 2px dashed #E87352;
        }
      }
      &:nth-child(5n+4) {
        .panel-heading {
          background: #377DE2;
        }
        .panel-collapse {
          border: 2px dashed #377DE2;
        }
      }
      &:nth-child(5n+5) {
        .panel-heading {
          background: #00A638;
        }
        .panel-collapse {
          border: 2px dashed #00A638;
        }
      }
    }
    .panel-heading {
      padding: 0;
      border-radius: 0;
      text-transform: uppercase;
      a {
        color: #fff;
        text-decoration: none;
        outline: none;
        padding: 10px 22px 10px 8px;
        display: inline-block;
        width: 100%;
        position: relative;
        font-size: 1.9rem;
        font-weight: bold;
        &:after {
          content: "\f077";
          position: absolute;
          right: 6px;
          top: 11px;
          font-family: FontAwesome;
          font-size: 14px;
        }
        &.collapsed:after {
          content: "\f078";
        }
      }

      .diet-adherence {
        padding: 10px 22px 10px 8px;
        color: white;
      }
    }
  }
}

@media (max-width: 1080px) {
  .navbar-header {
    width: 100%;
    float: none;
    padding-bottom: 0px;
  }
  .navbar-toggle {
    display: block !important;
  }
  .navbar-collapse.collapse {
    display: none !important;
    &.in {
      max-height: calc(70vh - 60px);
      overflow-y: auto !important;
      display: block !important;
    }
    ul {
      float: none;
      li {
        width: 100%;
        display: block;
        a {
          padding-top: 8px;
          padding-bottom: 8px;
          border-top: 1px solid #ccc;
        }
      }
    }
  }
}

.views-exposed-form {
  margin-bottom: 30px;
}

header .notification {
  float: right;
  padding-top: 10px;
  cursor: pointer;
}

.notification-box {
  display: none;
  position: fixed;
  height: 200px;
  background: black;
  width: 300px;
  z-index: 999;
  top: 50px;
  right: 10px;
  max-width: calc(100% - 20px);
  overflow-x: auto;
}

#navbar-collapse {
  border: 0;
}


.page-node-add-check-in, .page-node-add-goals, .page-register, .page-user-login, .page-node-add-daily-log, .page-user-register, .page-user {
  .page-container, .breadcrumb {
    background: #111111;
  }

  .page-header {
    color: white;
  }

  .panel {
    border: none;
  }

  .breadcrumb {
    a, li {
      color: white;
      font-weight: bold;
    }

  }

  .fieldset-legend, .panel-heading {
    background: #ed1b24;
    color: white !important;
    font-weight: bold;
    text-transform: uppercase;
  }

  label.control-label {
    color: #979797;
    font-size: 18px;
    font-weight: bold;
  }
}
