@import "includes";

#block-views-client-fitness-block-block {
  background: #181818;
  padding: 35px 20px;
  text-align: center;
  // border-radius: 5px;
  box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
  .block-title {
    margin-top: 0;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  .slick-slider {
    margin:0 -15px;
    padding: 0 20px;
    .slick-arrow {

    }
    .slick-prev {
      left: 4px;
    }
    .slick-next {
      right: 5px;
    }
  }
  .slick-slide {
    margin-right:15px;
    margin-left:15px;
  }
  .view-content {
    .views-field {
      padding: 15px 10px;
      background: #222222;
      color: #fff;
      // width: 240px;
      // display: inline-block;
      // margin: 5px;
      // vertical-align: top;
      .views-label {
        position: relative;
        display: inline-block;
        text-transform: uppercase;
        font-size: 1.6rem;
        &:before {
          content: "\f004";
          font-family: FontAwesome;
          background: #525252;
          height: 40px;
          width: 40px;
          border-radius: 50%;
          display: block;
          margin: auto;
          font-size: 24px;
          color: #232323;
          margin-bottom: 5px;
        }
        &:after {
          content: "";
          height: 2px;
          width: 70%;
          background: #313131;
          display: block;
          margin-left: 15%;
        }
      }
    }
  }
}

#block-system-main {
  width: 60%;
  padding: 0 20px 0 0;
  display: inline-block;
  vertical-align: middle;
  margin-top: 40px;
}
.view-client-goal-block {
  // border-radius: 5px;
  // background: #0BCBE2;
  // box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
  // color: #fff;
  .goal-box {
    .images {
      font-size: 0;
      margin-top: 20px;
      img {
        width: 100%;
        height: auto;
      }
      .img-inner {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        padding: 5px;
      }
      .current {
        width: 50%;
        display: inline-block;
        vertical-align: top;
        padding-right: 10px;
      }
      .inspiration {
        width: 50%;
        display: inline-block;
        vertical-align: top;
        padding-left: 10px;
      }
      .image-text {
        text-align: center;
        padding: 2px 10px;
        color: $black;
        font-size: 1.5rem;
      }
    }
    .description {
      &>div {
        padding: 15px 20px;
        background: #643CC1;
        display: inline-block;
        vertical-align: top;
        color: #fff;
        text-align: center;
        margin: 0 5px 5px 0;
        .title {
          text-transform: uppercase;
          font-size: 1.6rem;
          font-weight: bold;
        }
      }
      .goal {
        background: #00A638;
        .title, .content {
          font-size: 1.8rem;
        }
      }
      .days {
        background: #FFA500;
      }
      .coach {
        background: #E87352;
      }
      .motivation {
        background: #377DE2;
      }
    }
  }
}

#block-views-check-in-block {
  margin-top: 40px;
  display: inline-block;
  vertical-align: top;
  width: 38%;
  .current-stats {
    padding: 20px;
    color: #fff;
    background: rgb(3,64,121); /* Old browsers */
    background: -moz-linear-gradient(left, rgba(3,64,121,1) 0%, rgba(1,66,124,1) 49%, rgba(4,70,131,1) 80%, rgba(4,73,140,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(3,64,121,1) 0%,rgba(1,66,124,1) 49%,rgba(4,70,131,1) 80%,rgba(4,73,140,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(3,64,121,1) 0%,rgba(1,66,124,1) 49%,rgba(4,70,131,1) 80%,rgba(4,73,140,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#034079', endColorstr='#04498c',GradientType=1 ); /* IE6-9 */
  }
  .stats-content {
    margin-bottom: 0;
  }
  .block-title {
    margin-top: 0;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bold;
    padding-bottom: 5px;
    border-bottom: 2px solid #1E5A8C;
  }
  .view-content {
    .views-row {
      .blue-underline {
        border-bottom: 2px solid #1E5A8C;
      }
      .panel-default, .panel-heading, .panel-heading + div {
        border: 0;
        background: transparent;
      }
      .stats-content:not(.panel-group) {
        padding-right: 7px;
        table {
          tr td {
            padding-bottom: 10px;
          }
        }
      }
      .panel-group {
        padding-bottom: 10px;
      }
      table {
        width: 100%;
        tr > td:first-child {
          padding-right: 10px;
        }
      }
      .panel-heading {
        padding: 0;
        a {
          color: #fff;
          text-decoration: none;
          outline: none;
          padding: 5px 22px 5px 0px;
          display: inline-block;
          width: 100%;
          position: relative;
          &:after {
            content: "\f077";
            position: absolute;
            right: 6px;
            top: 5px;
            font-family: FontAwesome;
            font-size: 14px;
          }
          &.collapsed:after {
            content: "\f078";
          }
        }
      }
      .panel-body {
        border-top: 2px solid #1E5A8C;
      }
    }
  }
}

