@import "includes";

#block-views-client-fitness-block-block {
  background: #181818;
  padding: 35px 20px;
  text-align: center;
  // border-radius: 5px;
  box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
  .block-title {
    margin-top: 0;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  .slick-slider {
    margin:0 -15px;
    padding: 0 20px;
    .slick-arrow {

    }
    .slick-prev {
      left: 4px;
    }
    .slick-next {
      right: 5px;
    }
  }
  .slick-slide {
    margin-right:15px;
    margin-left:15px;
  }
  .view-content {
    .views-field {
      padding: 15px 10px;
      background: #222222;
      color: #fff;
      // width: 240px;
      // display: inline-block;
      // margin: 5px;
      // vertical-align: top;
      .views-label {
        position: relative;
        display: inline-block;
        text-transform: uppercase;
        font-size: 1.6rem;
        &:before {
          content: "\f004";
          font-family: FontAwesome;
          background: #525252;
          height: 40px;
          width: 40px;
          border-radius: 50%;
          display: block;
          margin: auto;
          font-size: 24px;
          color: #232323;
          margin-bottom: 5px;
        }
        &:after {
          content: "";
          height: 2px;
          width: 70%;
          background: #313131;
          display: block;
          margin-left: 15%;
        }
      }
    }
  }
}


.view-client-goal-block {
  margin-top: 40px;
  // border-radius: 5px;
  // background: #0BCBE2;
  // box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
  padding: 0 20px 0 0;
  // color: #fff;
  width: 60%;
  .goal-box {
    .images {
      font-size: 0;
      margin-top: 20px;
      img {
        width: 100%;
        height: auto;
      }
      .img-inner {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        padding: 5px;
      }
      .current {
        width: 50%;
        display: inline-block;
        vertical-align: top;
        padding-right: 10px;
      }
      .inspiration {
        width: 50%;
        display: inline-block;
        vertical-align: top;
        padding-left: 10px;
      }
      .image-text {
        text-align: center;
        padding: 2px 10px;
        color: $black;
        font-size: 1.5rem;
      }
    }
    .description {
      &>div {
        padding: 15px 20px;
        background: #643CC1;
        display: inline-block;
        vertical-align: top;
        color: #fff;
        text-align: center;
        margin: 0 5px 5px 0;
        .title {
          text-transform: uppercase;
          font-size: 1.6rem;
          font-weight: bold;
        }
      }
      .goal {
        background: #00A638;
        .title, .content {
          font-size: 1.8rem;
        }
      }
      .days {
        background: #FFA500;
      }
      .coach {
        background: #E87352;
      }
      .motivation {
        background: #377DE2;
      }
    }
  }
  // .views-field {
  //   margin-bottom: 10px;
  //   .views-label {
  //     font-size: 1.7rem;
  //     text-transform: uppercase;
  //   }
  //   .field-content {
  //     display: inline-block;
  //   }
  // }
  // .views-field-field-inspiration {
  //   .field-content {
  //     display: block;
  //   }
  // }
  // .views-field-field-goal {
  //   font-size: 1.8rem;
  //   text-transform: uppercase;
  //   font-weight: bold;
  //   .views-label {
  //     font-size: 1.8rem;
  //   }
  // }
}
