@import "includes";

.breadcrumb {
  display: none;
}

.page-node-add, .page-node-edit {
  .page-header {
    background: url('../images/Banner_Image.jpg') 0 0 no-repeat;
    height: 180px;
    vertical-align: middle;
    line-height: 180px;
    text-align: center;
    text-shadow: -1px 0 red, 0 1px red, 1px 0 red, 0 -1px red;
    color: #fff;
    margin: 30px auto 50px;
    font-family: 'Bevan', cursive;
    text-transform: uppercase;
    max-width: 790px;
    font-size: 28px;
    border: 0;
    @media (max-width: 767px) {
      font-size: 20px;
      height: 160px;
      line-height: 160px;
    }
    @media (max-width: 480px) {
      font-size: 18px;
    }
  }
  #block-system-main {
    .node-form {
      max-width: 790px;
      margin: auto;
      padding-bottom: 50px;
      .form-managed-file {
        button {
          @extend %red-btn;
        }
      }
      label {
        color: #fff;
        font-weight: 400;
      }
      .field-type-datetime {
        .panel-heading {
          border: 0;
          background: transparent;
          padding: 0;
          span.panel-title {
            color: #fff;
            text-transform: uppercase;
            font-weight: 400;
          }
        }
        .panel-body {
          padding-left: 0;
          padding-right: 0;
          padding-bottom: 0px;
          .date-float {
            display: none;
          }
          label {
            display: none;
          }
          .end-date-wrapper {
            &>label {
              display: inline-block;
              vertical-align: top;
              padding: 0 20px;
              @media (max-width: 767px) {
                display: block;
                padding: 0;
                text-align: center;
              }
            }
            &>div {
              float: none;
              display: inline-block;
            }
          }
          @media (min-width: 768px) {
            .date-no-float {
              display: inline-block;
              width: auto;
              margin: 0px;
            }
          }
          .container-inline-date .date-padding {
            padding: 0;
          }
        }
        fieldset {
          background: transparent;
          border: 0;
        }
      }
      .form-wrapper.form-group {
        margin-bottom: 20px;
      }
      input, textarea, select {
        border-radius: 0px;
      }
      label.control-label {
        text-transform: uppercase;
        font-weight: 400;
      }
      #edit-preview {
        display: none;
      }
      .form-actions {
        .form-submit {
          @extend %red-btn;
        }
      }
      .group-body-composition.field-group-fieldset {

      }
    }
  }
  #check-in-node-form {
    &>div {
      font-size: 0;
      * {
        font-size: 14px;
      }
      #edit-field-check-in-date, #edit-field-percent-bodyfat, #edit-field-bodyweight, #edit-field-hours-fasted {
        .panel-heading {
          margin-bottom: 10px;
          span {
            display: inline-block;
            line-height: 1.42;
          }
        }
        .panel-body {
          padding: 0;
        }
        .panel-body * {
          width: 100% !important;
          float: none;
        }
        @media (min-width: 768px) {
          display: inline-block;
          width: 33.33%;
          vertical-align: top;
        }
      }
      @media (min-width: 768px) {
        #edit-field-check-in-date {
          padding-right: 5px;
        }
        #edit-field-percent-bodyfat {
          padding: 0 5px;
        }
        #edit-field-bodyweight {
          padding-left: 5px;
        }
        #edit-field-hours-fasted {
          padding-left: 5px;
        }
      }
    }
    fieldset {
      border: 0;
      background: transparent;
      &.group-circumference-measures, &.group-skinfolds, &.group-progress-photo, &.group-sup-checklist {
        margin-top: 35px;
        font-size: 0;
        .panel-heading {
          @media (min-width: 768px) {
            width: 33.33%;
            display: inline-block;
            vertical-align: top;
            float: left;
          }
          @media (max-width: 767px) {
            padding-bottom: 20px;
            text-align: center;
          }
          font-size: 14px;
          padding: 0;
          background: transparent;
          border: 0;
          float: none;
          a {
            padding: 0;
            font-size: 18px;
            text-transform: uppercase;
            color: #fff;
            font-weight: bold;
            pointer-events: none;
            margin: 0;
          }
        }
        .panel-collapse {
          display: inline-block;
          vertical-align: top;
          font-size: 14px;
          @media (min-width: 768px) {
            width: 66.66%;
            border-left: 1px solid #fff;
          }
          @media (max-width: 767px) {
            border-top: 1px solid #fff;
            padding-top: 20px;
          }
          .panel-body {
            padding: 0 10px;
            border: 0;
            font-size: 0;
            width: 100%;
            @media (max-width: 767px) {
              padding: 0;
            }
            &>div {
              font-size: 14px;
              width: 33.33%;
              padding: 10px;
              display: inline-block;
              vertical-align: top;
              @media (max-width: 767px) {
                width: 50%;
              }
              label {
                display: inline-block;
                vertical-align: top;
                padding-right: 5px;
              }
              input {
                display: inline-block;
                vertical-align: top;
              }
            }
            .field-name-field-total-cm, .field-name-field-total-calipers {
              div .form-item label {
                font-weight: bold;
              }
            }
          }
        }
        &:not(.group-progress-photo)
        .panel-body {
          .form-type-textfield.form-item.form-group {
            font-size: 0;
            input {
              width: 34px;
              padding: 5px;
              font-size: 14px;
            }
            label {
              width: calc(100% - 34px);
              font-size: 14px;
              text-align: right;
            }
          }
        }
      }
      &.group-progress-photo {
        .panel-collapse .panel-body {
          &>div {
            width: 100%;
            margin-bottom: 10px;
            input {
              width: calc(100% - 15px);
            }
          }
        }
      }
    }
  }
  #daily-log-node-form {
    .form-managed-file {
      button {
        padding: 8px !important;
        text-indent: -999em;
        width: 36px;
        position: relative;
        height: 34px;
        &:before {
          content: "\e027";
          font-family: 'Glyphicons Halflings';
          position: absolute;
          top: 0;
          left: 0;
          font-style: normal;
          font-weight: normal;
          line-height: 1;
          width: 100%;
          height: 100%;
          text-indent: 0;
          text-indent: 0;
          font-size: 20px;
          top: 50%;
          margin-top: -10px;
        }
      }
    }
  }
}

//
// .main-container {
//   padding: 68px 8% 60px;
//   @media (max-width: 992px) {
//     padding-left: 20px;
//     padding-right: 20px;
//   }
// }
//
// .main-container-banner {
//   padding-top: 50px;
// }
// .breadcrumb {
//   margin-top: 20px;
// }
// .page-header {
//   font-family: Franchise-Bold;
//   color: #fff;
//   margin-bottom: 10px;
//   margin-top: 40px;
//   letter-spacing: 2px;
//   border: 0;
// }
//
// form {
//   .form-control {
//     background: #fff;
//     border-radius: 0px;
//   }
//   .form-item {
//     .btn {
//       background: $black;
//       border-color: $black;
//     }
//   }
//   label {
//     font-weight: normal;
//     font-family: $font;
//   }
//   div > .btn {
//     margin-top: 30px;
//     margin-right: 10px;
//     @include flat-btn($red, #fff, $red);
//     &.btn-default {
//       // display: none;
//     }
//   }
// }
//
// .highlighted.jumbotron {
//   padding: 68px 0 0;
//   margin: 0;
//   background: transparent;
// }
//
// #block-views-view-banner-block-1 {
//   .slick-slider {
//     margin-bottom: 0px;
//   }
//   .slick-dots {
//     @extend %slick-dots;
//   }
// }
//
// .breadcrumb {
//   a {
//     color: $black;
//   }
// }
//
// img {
//   max-width: 100%;
// }
//
// .view-calendar {
//   @media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
//     .calendar-calendar table,
//     .calendar-calendar tbody,
//     .calendar-calendar th,
//     .calendar-calendar td,
//     .calendar-calendar tr  {
//     display: block;
//     }
//     /* Hide table headers (but not display: none;, for accessibility) */
//     .calendar-calendar thead,
//     .calendar-calendar thead tr,
//     .calendar-calendar tr.date-box {
//     position: absolute;
//     top: -9999px;
//     left: -9999px;
//     }
//     .calendar-calendar tr td.no-entry  {
//     border-bottom: 1px solid #ccc;
//     }
//     .calendar-calendar td:before{   /* Format & Label the day headings */
//     /* Now like a table header */
//     width: 100%;
//     white-space: nowrap;
//     clear: both;
//     text-align: center;
//     display: block;
//     box-sizing: border-box;
//     color: #ffffff;
//     background-color: #a1978a;
//     padding: 10px;
//     content: attr(data-label);
//     height: 44px;
//     }
//     .calendar-calendar td.today,
//     .calendar-calendar .month-view .full tr td.single-day.today{
//       border-top: 2px solid #0074ab;
//     -webkit-box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.25);
//       box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.25);
//     }
//     .calendar-calendar .month-view .full td{
//       padding: 0;
//     }
//     .calendar-calendar td,
//     .calendar-calendar td.calendar-agenda-items  {
//     /* Behave  like a "row" */
//     border: none;
//     position: relative;
//     width: 100%;
//     }
//     // .calendar-calendar td.past{
//     //   display: none;
//     // }
//     .calendar-calendar td.calendar-agenda-items div.calendar{
//       padding: 0;
//     }
//     .calendar-calendar div.calendar,
//     .calendar-calendar .date-display-single,
//     .calendar-calendar td span.date-display-single  {
//       font-size: medium;
//     font-weight: normal;
//     }
//     .calendar-calendar .inner .item{
//       padding: 10px;
//     }
//     .calendar-calendar .month-view .full tr.single-day .no-entry{
//       height: 44px !important;
//     line-height: 24px;
//     }
//     .calendar-calendar .month-view .full tr.single-day .no-entry .inner,
//     .calendar-calendar .no-entry .inner{
//       height: auto !important;
//     line-height: 1px;
//     }
//     .calendar-calendar .inner .views-field-title-field{
//       display: inline-block;
//     }
//   }
//   .view-content {
//     .calendar-calendar div.day {
//       width: auto;
//       float: none;
//     }
//     table {
//       .date-box {
//         text-align: center;
//       }
//       tr td .user-log {
//         font-size: 12px;
//         padding-right: 8px;
//         position: relative;
//         &::after {
//           position: absolute;
//           height: 6px;
//           width: 6px;
//           border-radius: 50%;
//           right: 0;
//           bottom: 6px;
//         }
//         &.Yes::after {
//           background: #328763;
//           content: "";
//         }
//         &.No::after {
//           background: #df1a22;
//           content: "";
//         }
//       }
//       div.monthview {
//         background: #111 !important;
//         color: #fff !important;
//       }
//       tr, td, th {
//         background: #111 !important;
//         color: #fff !important;
//         border: none !important;
//       }
//       tr td.empty {
//         color: #333 !important;
//       }
//       tr td.single-day {
//         padding-bottom: 10px;
//       }
//       tr th.days {
//         padding-bottom: 20px;
//       }
//     }
//   }
// }
//
//
// .view-client-check-in-dashboard {
//   .view-content {
//     .views-row {
//       display: flex;
//       flex-wrap: wrap;
//       .views-field-name {
//         width: 100%;
//         .field-content {
//           font-weight: bold;
//           font-size: 2rem;
//           color: #fff;
//         }
//       }
//     }
//     .views-row > div.views-field:not(.views-field-name) {
//       display: inline-block;
//       padding: 0px 10px 10px;
//       width: 50%;
//       vertical-align: top;
//     }
//   }
// }
