@import "includes";

.main-container {
  padding: 68px 8% 60px;
  @media (max-width: 992px) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.main-container-banner {
  padding-top: 50px;
}
.breadcrumb {
  margin-top: 20px;
}
.page-header {
  font-family: Franchise-Bold;
  color: $black;
  margin-bottom: 30px;
  margin-top: 40px;
  letter-spacing: 2px;
}

form {
  .form-control {
    background: #fff;
    border-radius: 0px;
  }
  .form-item {
    .btn {
      background: $black;
      border-color: $black;
    }
  }
  label {
    font-weight: normal;
    font-family: $font;
  }
  div > .btn {
    margin-top: 30px;
    @include flat-btn($black, #fff, $black);
    &.btn-default {
      // display: none;
    }
  }
}

.highlighted.jumbotron {
  padding: 68px 0 0;
  margin: 0;
  background: transparent;
}

#block-views-view-banner-block-1 {
  .slick-slider {
    margin-bottom: 0px;
  }
  .slick-dots {
    @extend %slick-dots;
  }
}

.breadcrumb {
  a {
    color: $black;
  }
}

img {
  max-width: 100%;
}
