@font-face {
  font-family: 'Franchise-Bold';
  src: url("../fonts/Franchise-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* line 3, ../sass/_mixin.scss */
body {
  color: #777;
  font: 400 15px/1.8 "Lato", sans-serif;
}

/* line 8, ../sass/_mixin.scss */
a {
  text-decoration: none;
  outline: none;
}

/* line 443, ../sass/basic_layout.scss */
#navbar {
  margin: 0 !important;
  width: 100% !important;
  max-width: 100% !important;
  border-radius: 0 !important;
  background: #000 !important;
  border: 0 !important;
}
/* line 450, ../sass/basic_layout.scss */
#navbar .navbar-header {
  display: flex;
  align-items: center;
  width: 100%;
  float: none;
  height: 90px;
}
/* line 457, ../sass/basic_layout.scss */
#navbar .navbar-header:after {
  content: none;
  display: none;
}
/* line 461, ../sass/basic_layout.scss */
#navbar .navbar-header:before {
  content: none;
  display: none;
}
/* line 465, ../sass/basic_layout.scss */
#navbar .navbar-header a.logo {
  margin: 0;
  float: none !important;
}
/* line 468, ../sass/basic_layout.scss */
#navbar .navbar-header a.logo img {
  height: 70px;
}
/* line 472, ../sass/basic_layout.scss */
#navbar .navbar-header .navbar-item {
  flex: 1;
  display: flex;
  justify-content: center;
}
/* line 476, ../sass/basic_layout.scss */
#navbar .navbar-header .navbar-item.navbar-menu-block {
  justify-content: flex-start;
}
/* line 479, ../sass/basic_layout.scss */
#navbar .navbar-header .navbar-item.navbar-menu-block .navbar-nav * {
  text-transform: uppercase;
  color: #fff;
}
/* line 484, ../sass/basic_layout.scss */
#navbar .navbar-header .navbar-item.navbar-menu-block .navbar-nav li ul.dropdown-menu {
  background: #666666;
  padding: 0;
}
/* line 488, ../sass/basic_layout.scss */
#navbar .navbar-header .navbar-item.navbar-menu-block .navbar-nav li ul.dropdown-menu > li > a {
  background: #4d4d4d;
}
/* line 490, ../sass/basic_layout.scss */
#navbar .navbar-header .navbar-item.navbar-menu-block .navbar-nav li ul.dropdown-menu > li > a:hover {
  background: #4d4d4d;
}
/* line 493, ../sass/basic_layout.scss */
#navbar .navbar-header .navbar-item.navbar-menu-block .navbar-nav li ul.dropdown-menu > li > a:focus {
  background: #4d4d4d;
}
/* line 498, ../sass/basic_layout.scss */
#navbar .navbar-header .navbar-item.navbar-menu-block .navbar-nav li ul.dropdown-menu > li.active > a {
  background: #4d4d4d;
}
/* line 500, ../sass/basic_layout.scss */
#navbar .navbar-header .navbar-item.navbar-menu-block .navbar-nav li ul.dropdown-menu > li.active > a:hover {
  background: #4d4d4d;
}
/* line 503, ../sass/basic_layout.scss */
#navbar .navbar-header .navbar-item.navbar-menu-block .navbar-nav li ul.dropdown-menu > li.active > a:focus {
  background: #4d4d4d;
}
/* line 515, ../sass/basic_layout.scss */
#navbar .navbar-header .navbar-item.navbar-menu-block .navbar-nav > li > a {
  color: #fff;
}
/* line 517, ../sass/basic_layout.scss */
#navbar .navbar-header .navbar-item.navbar-menu-block .navbar-nav > li > a:hover {
  color: #fff;
  background: transparent;
}
/* line 521, ../sass/basic_layout.scss */
#navbar .navbar-header .navbar-item.navbar-menu-block .navbar-nav > li > a:focus {
  color: #fff;
  background: transparent;
}
/* line 528, ../sass/basic_layout.scss */
#navbar .navbar-header .navbar-item.navbar-menu-block .navbar-nav > li.active > a {
  color: #fff;
  background: transparent;
}
/* line 531, ../sass/basic_layout.scss */
#navbar .navbar-header .navbar-item.navbar-menu-block .navbar-nav > li.active > a:hover {
  color: #fff;
  background: transparent;
}
/* line 535, ../sass/basic_layout.scss */
#navbar .navbar-header .navbar-item.navbar-menu-block .navbar-nav > li.active > a:focus {
  color: #fff;
  background: transparent;
}
/* line 545, ../sass/basic_layout.scss */
#navbar .navbar-header .navbar-item.navbar-user-menu-block {
  justify-content: flex-end;
}
/* line 548, ../sass/basic_layout.scss */
#navbar .navbar-header .navbar-item.navbar-user-menu-block li a {
  color: #fff;
  outline: none;
  text-decoration: none;
  background: #f12236;
  padding: 5px 15px;
  text-transform: uppercase;
  font-size: 14px;
}
/* line 556, ../sass/basic_layout.scss */
#navbar .navbar-header .navbar-item.navbar-user-menu-block li a:hover {
  color: #fff;
}

/* line 566, ../sass/basic_layout.scss */
.site-footer {
  background: #000;
}
/* line 568, ../sass/basic_layout.scss */
.site-footer .footer {
  border: 0;
  margin: auto;
  padding-top: 70px;
  padding-bottom: 70px;
}
/* line 573, ../sass/basic_layout.scss */
.site-footer .footer .footer-inner {
  max-width: 810px;
  margin: auto;
  padding: 0 10px;
}
/* line 578, ../sass/basic_layout.scss */
.site-footer .footer .address, .site-footer .footer .social-icons {
  color: #fff;
  display: inline-block;
  vertical-align: top;
}
/* line 582, ../sass/basic_layout.scss */
.site-footer .footer .address p, .site-footer .footer .social-icons p {
  margin: 0;
  font-size: 14px;
  line-height: 18px;
}
/* line 587, ../sass/basic_layout.scss */
.site-footer .footer .address a, .site-footer .footer .social-icons a {
  color: #fff;
}
/* line 590, ../sass/basic_layout.scss */
.site-footer .footer .address .copyright, .site-footer .footer .social-icons .copyright {
  margin-top: 15px;
}
/* line 594, ../sass/basic_layout.scss */
.site-footer .footer .address {
  width: calc(100% - 50px);
  padding-right: 10px;
}
/* line 599, ../sass/basic_layout.scss */
.site-footer .footer .social-icons a {
  width: 20px;
  display: inline-block;
  height: 20px;
  background: #ccc;
  text-align: center;
  border-radius: 2px;
}
/* line 606, ../sass/basic_layout.scss */
.site-footer .footer .social-icons a:first-child {
  margin-right: 5px;
}
/* line 609, ../sass/basic_layout.scss */
.site-footer .footer .social-icons a i {
  color: #000;
  font-size: 12px;
  vertical-align: middle;
  margin-top: -8px;
}

/* line 620, ../sass/basic_layout.scss */
body.html {
  background: #1a1a1a;
}
