@font-face {
  font-family: 'Franchise-Bold';
  src: url("../fonts/Franchise-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* line 3, ../sass/_mixin.scss */
body {
  color: #777;
  font: 400 15px/1.8 "Lato", sans-serif;
}

/* line 8, ../sass/_mixin.scss */
a {
  text-decoration: none;
  outline: none;
}

/* line 3, ../sass/basic_layout.scss */
#navbar {
  background: #fafafa;
  margin: 0 !important;
  position: fixed;
  margin: 0 !important;
  position: fixed;
  max-width: 100% !important;
  width: 100% !important;
  border: 0;
  border-radius: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  z-index: 999;
  box-shadow: 0 0 22px -4px rgba(0, 0, 0, 0.17);
  border-bottom: 2px solid #ebebeb;
}
/* line 19, ../sass/basic_layout.scss */
#navbar a.logo {
  margin: 0;
}
@media (max-width: 767px) {
  /* line 19, ../sass/basic_layout.scss */
  #navbar a.logo {
    padding-right: 0px;
  }
}
/* line 24, ../sass/basic_layout.scss */
#navbar a.logo img {
  width: 50px;
}
/* line 28, ../sass/basic_layout.scss */
#navbar.navbar-default .navbar-brand {
  color: #111;
  font-size: 3rem;
  font-family: Franchise-Bold;
  padding: 0;
  line-height: 58px;
  padding-left: 5px;
}
/* line 37, ../sass/basic_layout.scss */
#navbar.navbar-default .navbar-nav li a {
  color: #111;
}
/* line 39, ../sass/basic_layout.scss */
#navbar.navbar-default .navbar-nav li a.active {
  color: #b82b1a;
}
/* line 42, ../sass/basic_layout.scss */
#navbar.navbar-default .navbar-nav li a:hover {
  color: #b82b1a;
}
/* line 46, ../sass/basic_layout.scss */
#navbar.navbar-default .navbar-nav > .active > a {
  color: #b82b1a;
  background: transparent;
}
/* line 50, ../sass/basic_layout.scss */
#navbar.navbar-default .navbar-nav > .active > a:hover {
  color: #b82b1a;
  background: transparent;
}
/* line 54, ../sass/basic_layout.scss */
#navbar.navbar-default .navbar-nav > .active > a:focus {
  color: #b82b1a;
  background: transparent;
}

/* line 61, ../sass/basic_layout.scss */
.site-footer {
  background: #000;
}
/* line 63, ../sass/basic_layout.scss */
.site-footer .footer {
  margin-top: 0;
  border: 0;
}
/* line 67, ../sass/basic_layout.scss */
.site-footer a {
  color: #777;
}
/* line 70, ../sass/basic_layout.scss */
.site-footer .timings {
  text-align: right;
}
/* line 73, ../sass/basic_layout.scss */
.site-footer .social {
  text-align: center;
}
/* line 75, ../sass/basic_layout.scss */
.site-footer .social .social-icons {
  margin-bottom: 30px;
}
/* line 77, ../sass/basic_layout.scss */
.site-footer .social .social-icons a {
  display: inline-block;
  margin: 0 8px 0 0;
  width: 31px;
  height: 31px;
  border: 2px solid #fff;
  border-radius: 50%;
}
/* line 84, ../sass/basic_layout.scss */
.site-footer .social .social-icons a:hover {
  background: white;
}
/* line 86, ../sass/basic_layout.scss */
.site-footer .social .social-icons a:hover i {
  color: #000;
}
/* line 90, ../sass/basic_layout.scss */
.site-footer .social .social-icons a:last-child {
  margin: 0;
}
/* line 93, ../sass/basic_layout.scss */
.site-footer .social .social-icons a i {
  color: #fff;
}
/* line 99, ../sass/basic_layout.scss */
.site-footer .email {
  margin-bottom: 10px;
}
/* line 102, ../sass/basic_layout.scss */
.site-footer .footer-title {
  color: #fff;
  font-weight: bold;
  margin-bottom: 15px;
}
/* line 107, ../sass/basic_layout.scss */
.site-footer .location, .site-footer .social, .site-footer .timings {
  width: 33.33%;
}
@media (max-width: 600px) {
  /* line 107, ../sass/basic_layout.scss */
  .site-footer .location, .site-footer .social, .site-footer .timings {
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
  }
  /* line 113, ../sass/basic_layout.scss */
  .site-footer .location .footer-title, .site-footer .social .footer-title, .site-footer .timings .footer-title {
    line-height: 1.2;
    margin-bottom: 5px;
  }
  /* line 117, ../sass/basic_layout.scss */
  .site-footer .location .social-icons, .site-footer .location .email, .site-footer .location .phone, .site-footer .social .social-icons, .site-footer .social .email, .site-footer .social .phone, .site-footer .timings .social-icons, .site-footer .timings .email, .site-footer .timings .phone {
    margin-bottom: 5px;
  }
  /* line 120, ../sass/basic_layout.scss */
  .site-footer .location p, .site-footer .social p, .site-footer .timings p {
    line-height: 1.2;
    margin-bottom: 5px;
  }
}

/* line 130, ../sass/basic_layout.scss */
body.page-admin-dashboard .view-admin-dashboard table, body.page-admin-dashboard .view-id-client_daily_log table, body.page-admin-dashboard .view-display-id-page table, body.page-client-daily-log- .view-admin-dashboard table, body.page-client-daily-log- .view-id-client_daily_log table, body.page-client-daily-log- .view-display-id-page table, body.page-edit-goal .view-admin-dashboard table, body.page-edit-goal .view-id-client_daily_log table, body.page-edit-goal .view-display-id-page table {
  background: white;
  border-radius: 3px;
  border-collapse: collapse;
  margin: auto;
  padding: 5px;
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  animation: float 5s infinite;
}
/* line 140, ../sass/basic_layout.scss */
body.page-admin-dashboard .view-admin-dashboard table thead th, body.page-admin-dashboard .view-id-client_daily_log table thead th, body.page-admin-dashboard .view-display-id-page table thead th, body.page-client-daily-log- .view-admin-dashboard table thead th, body.page-client-daily-log- .view-id-client_daily_log table thead th, body.page-client-daily-log- .view-display-id-page table thead th, body.page-edit-goal .view-admin-dashboard table thead th, body.page-edit-goal .view-id-client_daily_log table thead th, body.page-edit-goal .view-display-id-page table thead th {
  color: #D5DDE5;
  background: #1b1e24;
  border-bottom: 4px solid #9ea7af;
  border-right: 1px solid #343a45;
  font-size: 1.7rem;
  font-weight: 100;
  padding: 10px;
  text-align: left;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align: top;
}
/* line 153, ../sass/basic_layout.scss */
body.page-admin-dashboard .view-admin-dashboard table thead th:first-child, body.page-admin-dashboard .view-id-client_daily_log table thead th:first-child, body.page-admin-dashboard .view-display-id-page table thead th:first-child, body.page-client-daily-log- .view-admin-dashboard table thead th:first-child, body.page-client-daily-log- .view-id-client_daily_log table thead th:first-child, body.page-client-daily-log- .view-display-id-page table thead th:first-child, body.page-edit-goal .view-admin-dashboard table thead th:first-child, body.page-edit-goal .view-id-client_daily_log table thead th:first-child, body.page-edit-goal .view-display-id-page table thead th:first-child {
  border-top-left-radius: 3px;
}
/* line 157, ../sass/basic_layout.scss */
body.page-admin-dashboard .view-admin-dashboard table thead th:last-child, body.page-admin-dashboard .view-id-client_daily_log table thead th:last-child, body.page-admin-dashboard .view-display-id-page table thead th:last-child, body.page-client-daily-log- .view-admin-dashboard table thead th:last-child, body.page-client-daily-log- .view-id-client_daily_log table thead th:last-child, body.page-client-daily-log- .view-display-id-page table thead th:last-child, body.page-edit-goal .view-admin-dashboard table thead th:last-child, body.page-edit-goal .view-id-client_daily_log table thead th:last-child, body.page-edit-goal .view-display-id-page table thead th:last-child {
  border-top-right-radius: 3px;
  border-right: none;
}
/* line 163, ../sass/basic_layout.scss */
body.page-admin-dashboard .view-admin-dashboard tr, body.page-admin-dashboard .view-id-client_daily_log tr, body.page-admin-dashboard .view-display-id-page tr, body.page-client-daily-log- .view-admin-dashboard tr, body.page-client-daily-log- .view-id-client_daily_log tr, body.page-client-daily-log- .view-display-id-page tr, body.page-edit-goal .view-admin-dashboard tr, body.page-edit-goal .view-id-client_daily_log tr, body.page-edit-goal .view-display-id-page tr {
  border-top: 1px solid #C1C3D1;
  border-bottom-: 1px solid #C1C3D1;
  color: #666B85;
  font-size: 16px;
  font-weight: normal;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.1);
}
/* line 172, ../sass/basic_layout.scss */
body.page-admin-dashboard .view-admin-dashboard tr:hover td, body.page-admin-dashboard .view-id-client_daily_log tr:hover td, body.page-admin-dashboard .view-display-id-page tr:hover td, body.page-client-daily-log- .view-admin-dashboard tr:hover td, body.page-client-daily-log- .view-id-client_daily_log tr:hover td, body.page-client-daily-log- .view-display-id-page tr:hover td, body.page-edit-goal .view-admin-dashboard tr:hover td, body.page-edit-goal .view-id-client_daily_log tr:hover td, body.page-edit-goal .view-display-id-page tr:hover td {
  background: #ed1b24;
  color: #FFFFFF;
  border-top: 1px solid #22262e;
}
/* line 176, ../sass/basic_layout.scss */
body.page-admin-dashboard .view-admin-dashboard tr:hover td a, body.page-admin-dashboard .view-id-client_daily_log tr:hover td a, body.page-admin-dashboard .view-display-id-page tr:hover td a, body.page-client-daily-log- .view-admin-dashboard tr:hover td a, body.page-client-daily-log- .view-id-client_daily_log tr:hover td a, body.page-client-daily-log- .view-display-id-page tr:hover td a, body.page-edit-goal .view-admin-dashboard tr:hover td a, body.page-edit-goal .view-id-client_daily_log tr:hover td a, body.page-edit-goal .view-display-id-page tr:hover td a {
  color: #fff;
  text-decoration: underline;
}
/* line 182, ../sass/basic_layout.scss */
body.page-admin-dashboard .view-admin-dashboard tr:first-child, body.page-admin-dashboard .view-id-client_daily_log tr:first-child, body.page-admin-dashboard .view-display-id-page tr:first-child, body.page-client-daily-log- .view-admin-dashboard tr:first-child, body.page-client-daily-log- .view-id-client_daily_log tr:first-child, body.page-client-daily-log- .view-display-id-page tr:first-child, body.page-edit-goal .view-admin-dashboard tr:first-child, body.page-edit-goal .view-id-client_daily_log tr:first-child, body.page-edit-goal .view-display-id-page tr:first-child {
  border-top: none;
}
/* line 186, ../sass/basic_layout.scss */
body.page-admin-dashboard .view-admin-dashboard tr:last-child, body.page-admin-dashboard .view-id-client_daily_log tr:last-child, body.page-admin-dashboard .view-display-id-page tr:last-child, body.page-client-daily-log- .view-admin-dashboard tr:last-child, body.page-client-daily-log- .view-id-client_daily_log tr:last-child, body.page-client-daily-log- .view-display-id-page tr:last-child, body.page-edit-goal .view-admin-dashboard tr:last-child, body.page-edit-goal .view-id-client_daily_log tr:last-child, body.page-edit-goal .view-display-id-page tr:last-child {
  border-bottom: none;
}
/* line 190, ../sass/basic_layout.scss */
body.page-admin-dashboard .view-admin-dashboard tr:nth-child(odd) td, body.page-admin-dashboard .view-id-client_daily_log tr:nth-child(odd) td, body.page-admin-dashboard .view-display-id-page tr:nth-child(odd) td, body.page-client-daily-log- .view-admin-dashboard tr:nth-child(odd) td, body.page-client-daily-log- .view-id-client_daily_log tr:nth-child(odd) td, body.page-client-daily-log- .view-display-id-page tr:nth-child(odd) td, body.page-edit-goal .view-admin-dashboard tr:nth-child(odd) td, body.page-edit-goal .view-id-client_daily_log tr:nth-child(odd) td, body.page-edit-goal .view-display-id-page tr:nth-child(odd) td {
  background: #EBEBEB;
}
/* line 194, ../sass/basic_layout.scss */
body.page-admin-dashboard .view-admin-dashboard tr:nth-child(odd):hover td, body.page-admin-dashboard .view-id-client_daily_log tr:nth-child(odd):hover td, body.page-admin-dashboard .view-display-id-page tr:nth-child(odd):hover td, body.page-client-daily-log- .view-admin-dashboard tr:nth-child(odd):hover td, body.page-client-daily-log- .view-id-client_daily_log tr:nth-child(odd):hover td, body.page-client-daily-log- .view-display-id-page tr:nth-child(odd):hover td, body.page-edit-goal .view-admin-dashboard tr:nth-child(odd):hover td, body.page-edit-goal .view-id-client_daily_log tr:nth-child(odd):hover td, body.page-edit-goal .view-display-id-page tr:nth-child(odd):hover td {
  background: #ed1b24;
}
/* line 196, ../sass/basic_layout.scss */
body.page-admin-dashboard .view-admin-dashboard tr:nth-child(odd):hover td a, body.page-admin-dashboard .view-id-client_daily_log tr:nth-child(odd):hover td a, body.page-admin-dashboard .view-display-id-page tr:nth-child(odd):hover td a, body.page-client-daily-log- .view-admin-dashboard tr:nth-child(odd):hover td a, body.page-client-daily-log- .view-id-client_daily_log tr:nth-child(odd):hover td a, body.page-client-daily-log- .view-display-id-page tr:nth-child(odd):hover td a, body.page-edit-goal .view-admin-dashboard tr:nth-child(odd):hover td a, body.page-edit-goal .view-id-client_daily_log tr:nth-child(odd):hover td a, body.page-edit-goal .view-display-id-page tr:nth-child(odd):hover td a {
  color: #fff;
  text-decoration: underline;
}
/* line 202, ../sass/basic_layout.scss */
body.page-admin-dashboard .view-admin-dashboard tr:last-child td:first-child, body.page-admin-dashboard .view-id-client_daily_log tr:last-child td:first-child, body.page-admin-dashboard .view-display-id-page tr:last-child td:first-child, body.page-client-daily-log- .view-admin-dashboard tr:last-child td:first-child, body.page-client-daily-log- .view-id-client_daily_log tr:last-child td:first-child, body.page-client-daily-log- .view-display-id-page tr:last-child td:first-child, body.page-edit-goal .view-admin-dashboard tr:last-child td:first-child, body.page-edit-goal .view-id-client_daily_log tr:last-child td:first-child, body.page-edit-goal .view-display-id-page tr:last-child td:first-child {
  border-bottom-left-radius: 3px;
}
/* line 206, ../sass/basic_layout.scss */
body.page-admin-dashboard .view-admin-dashboard tr:last-child td:last-child, body.page-admin-dashboard .view-id-client_daily_log tr:last-child td:last-child, body.page-admin-dashboard .view-display-id-page tr:last-child td:last-child, body.page-client-daily-log- .view-admin-dashboard tr:last-child td:last-child, body.page-client-daily-log- .view-id-client_daily_log tr:last-child td:last-child, body.page-client-daily-log- .view-display-id-page tr:last-child td:last-child, body.page-edit-goal .view-admin-dashboard tr:last-child td:last-child, body.page-edit-goal .view-id-client_daily_log tr:last-child td:last-child, body.page-edit-goal .view-display-id-page tr:last-child td:last-child {
  border-bottom-right-radius: 3px;
}
/* line 210, ../sass/basic_layout.scss */
body.page-admin-dashboard .view-admin-dashboard td, body.page-admin-dashboard .view-id-client_daily_log td, body.page-admin-dashboard .view-display-id-page td, body.page-client-daily-log- .view-admin-dashboard td, body.page-client-daily-log- .view-id-client_daily_log td, body.page-client-daily-log- .view-display-id-page td, body.page-edit-goal .view-admin-dashboard td, body.page-edit-goal .view-id-client_daily_log td, body.page-edit-goal .view-display-id-page td {
  background: #FFFFFF;
  padding: 10px;
  text-align: left;
  vertical-align: middle;
  font-weight: 300;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #C1C3D1;
}
/* line 220, ../sass/basic_layout.scss */
body.page-admin-dashboard .view-admin-dashboard td:last-child, body.page-admin-dashboard .view-id-client_daily_log td:last-child, body.page-admin-dashboard .view-display-id-page td:last-child, body.page-client-daily-log- .view-admin-dashboard td:last-child, body.page-client-daily-log- .view-id-client_daily_log td:last-child, body.page-client-daily-log- .view-display-id-page td:last-child, body.page-edit-goal .view-admin-dashboard td:last-child, body.page-edit-goal .view-id-client_daily_log td:last-child, body.page-edit-goal .view-display-id-page td:last-child {
  border-right: 0px;
}
/* line 226, ../sass/basic_layout.scss */
body.page-admin-dashboard .view-admin-dashboard th, body.page-admin-dashboard .view-id-client_daily_log th, body.page-admin-dashboard .view-display-id-page th, body.page-client-daily-log- .view-admin-dashboard th, body.page-client-daily-log- .view-id-client_daily_log th, body.page-client-daily-log- .view-display-id-page th, body.page-edit-goal .view-admin-dashboard th, body.page-edit-goal .view-id-client_daily_log th, body.page-edit-goal .view-display-id-page th {
  vertical-align: top;
}

/* line 234, ../sass/basic_layout.scss */
body.page-coach-dashboard .coach-accordion .panel.panel-default {
  padding-bottom: 20px;
  border: 0;
  border-radius: 0;
  box-shadow: unset;
  vertical-align: top;
  margin: 0;
}
/* line 244, ../sass/basic_layout.scss */
body.page-coach-dashboard .coach-accordion .panel.panel-default p {
  line-height: 1.2;
}
/* line 248, ../sass/basic_layout.scss */
body.page-coach-dashboard .coach-accordion .panel.panel-default:nth-child(5n+1) .panel-heading {
  background: #47D7B3;
}
/* line 251, ../sass/basic_layout.scss */
body.page-coach-dashboard .coach-accordion .panel.panel-default:nth-child(5n+1) .panel-collapse {
  border: 2px dashed #47D7B3;
}
/* line 256, ../sass/basic_layout.scss */
body.page-coach-dashboard .coach-accordion .panel.panel-default:nth-child(5n+2) .panel-heading {
  background: #A26CC4;
}
/* line 259, ../sass/basic_layout.scss */
body.page-coach-dashboard .coach-accordion .panel.panel-default:nth-child(5n+2) .panel-collapse {
  border: 2px dashed #A26CC4;
}
/* line 264, ../sass/basic_layout.scss */
body.page-coach-dashboard .coach-accordion .panel.panel-default:nth-child(5n+3) .panel-heading {
  background: #E87352;
}
/* line 267, ../sass/basic_layout.scss */
body.page-coach-dashboard .coach-accordion .panel.panel-default:nth-child(5n+3) .panel-collapse {
  border: 2px dashed #E87352;
}
/* line 272, ../sass/basic_layout.scss */
body.page-coach-dashboard .coach-accordion .panel.panel-default:nth-child(5n+4) .panel-heading {
  background: #377DE2;
}
/* line 275, ../sass/basic_layout.scss */
body.page-coach-dashboard .coach-accordion .panel.panel-default:nth-child(5n+4) .panel-collapse {
  border: 2px dashed #377DE2;
}
/* line 280, ../sass/basic_layout.scss */
body.page-coach-dashboard .coach-accordion .panel.panel-default:nth-child(5n+5) .panel-heading {
  background: #00A638;
}
/* line 283, ../sass/basic_layout.scss */
body.page-coach-dashboard .coach-accordion .panel.panel-default:nth-child(5n+5) .panel-collapse {
  border: 2px dashed #00A638;
}
/* line 288, ../sass/basic_layout.scss */
body.page-coach-dashboard .coach-accordion .panel-heading {
  padding: 0;
  border-radius: 0;
  text-transform: uppercase;
}
/* line 292, ../sass/basic_layout.scss */
body.page-coach-dashboard .coach-accordion .panel-heading a {
  color: #fff;
  text-decoration: none;
  outline: none;
  padding: 10px 22px 10px 8px;
  display: inline-block;
  width: 100%;
  position: relative;
  font-size: 1.9rem;
  font-weight: bold;
}
/* line 302, ../sass/basic_layout.scss */
body.page-coach-dashboard .coach-accordion .panel-heading a:after {
  content: "\f077";
  position: absolute;
  right: 6px;
  top: 11px;
  font-family: FontAwesome;
  font-size: 14px;
}
/* line 310, ../sass/basic_layout.scss */
body.page-coach-dashboard .coach-accordion .panel-heading a.collapsed:after {
  content: "\f078";
}
/* line 315, ../sass/basic_layout.scss */
body.page-coach-dashboard .coach-accordion .panel-heading .diet-adherence {
  padding: 10px 22px 10px 8px;
  color: white;
}

@media (max-width: 1080px) {
  /* line 324, ../sass/basic_layout.scss */
  .navbar-header {
    width: 100%;
    float: none;
    padding-bottom: 0px;
  }

  /* line 329, ../sass/basic_layout.scss */
  .navbar-toggle {
    display: block !important;
  }

  /* line 332, ../sass/basic_layout.scss */
  .navbar-collapse.collapse {
    display: none !important;
  }
  /* line 334, ../sass/basic_layout.scss */
  .navbar-collapse.collapse.in {
    max-height: calc(70vh - 60px);
    overflow-y: auto !important;
    display: block !important;
  }
  /* line 339, ../sass/basic_layout.scss */
  .navbar-collapse.collapse ul {
    float: none;
  }
  /* line 341, ../sass/basic_layout.scss */
  .navbar-collapse.collapse ul li {
    width: 100%;
    display: block;
  }
  /* line 344, ../sass/basic_layout.scss */
  .navbar-collapse.collapse ul li a {
    padding-top: 8px;
    padding-bottom: 8px;
    border-top: 1px solid #ccc;
  }
}
/* line 354, ../sass/basic_layout.scss */
.views-exposed-form {
  margin-bottom: 30px;
}

/* line 358, ../sass/basic_layout.scss */
header .notification {
  float: right;
  padding-top: 10px;
  cursor: pointer;
}

/* line 364, ../sass/basic_layout.scss */
.notification-box {
  display: none;
  position: fixed;
  height: 200px;
  background: black;
  width: 300px;
  z-index: 999;
  top: 50px;
  right: 10px;
  max-width: calc(100% - 20px);
  overflow-x: auto;
}

/* line 377, ../sass/basic_layout.scss */
#navbar-collapse {
  border: 0;
}

/* line 382, ../sass/basic_layout.scss */
.page-user-login .tabs--primary.nav-tabs {
  display: none;
}

/* line 389, ../sass/basic_layout.scss */
.page-node-add-check-in .page-header, .page-node-add-goals .page-header, .page-register .page-header, .page-user-login .page-header, .page-node-add-daily-log .page-header, .page-node-add .page-header {
  color: white;
}
/* line 393, ../sass/basic_layout.scss */
.page-node-add-check-in .panel, .page-node-add-goals .panel, .page-register .panel, .page-user-login .panel, .page-node-add-daily-log .panel, .page-node-add .panel {
  border: none;
}
/* line 398, ../sass/basic_layout.scss */
.page-node-add-check-in .breadcrumb a, .page-node-add-check-in .breadcrumb li, .page-node-add-goals .breadcrumb a, .page-node-add-goals .breadcrumb li, .page-register .breadcrumb a, .page-register .breadcrumb li, .page-user-login .breadcrumb a, .page-user-login .breadcrumb li, .page-node-add-daily-log .breadcrumb a, .page-node-add-daily-log .breadcrumb li, .page-node-add .breadcrumb a, .page-node-add .breadcrumb li {
  color: white;
  font-weight: bold;
}
/* line 405, ../sass/basic_layout.scss */
.page-node-add-check-in .fieldset-legend, .page-node-add-check-in .panel-heading, .page-node-add-goals .fieldset-legend, .page-node-add-goals .panel-heading, .page-register .fieldset-legend, .page-register .panel-heading, .page-user-login .fieldset-legend, .page-user-login .panel-heading, .page-node-add-daily-log .fieldset-legend, .page-node-add-daily-log .panel-heading, .page-node-add .fieldset-legend, .page-node-add .panel-heading {
  background: #ed1b24;
  color: white !important;
  font-weight: bold;
  text-transform: uppercase;
}
/* line 412, ../sass/basic_layout.scss */
.page-node-add-check-in label.control-label, .page-node-add-goals label.control-label, .page-register label.control-label, .page-user-login label.control-label, .page-node-add-daily-log label.control-label, .page-node-add label.control-label {
  color: #979797;
  font-size: 18px;
  font-weight: bold;
}

/* line 419, ../sass/basic_layout.scss */
body {
  background: #181818;
}
/* line 421, ../sass/basic_layout.scss */
body .breadcrumb {
  background: transparent;
  color: #ccc;
  padding: 0;
  margin-top: 0;
}
/* line 426, ../sass/basic_layout.scss */
body .breadcrumb a {
  color: #fff;
}
