/* line 3, ../sass/_mixin.scss */
body {
  color: #777;
  font: 400 15px/1.8 "Lato", sans-serif;
}

/* line 8, ../sass/_mixin.scss */
a {
  text-decoration: none;
  outline: none;
}

/* line 3, ../sass/basic_layout.scss */
#navbar {
  background: #000;
  color: #fff;
  margin: 0 !important;
  position: fixed;
  margin: 0 !important;
  position: fixed;
  max-width: 100% !important;
  width: 100% !important;
  border: 0;
  border-radius: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  z-index: 999;
  box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.5);
}
/* line 18, ../sass/basic_layout.scss */
#navbar.navbar-default .navbar-brand {
  color: #fff;
  font-size: 2rem;
}
/* line 23, ../sass/basic_layout.scss */
#navbar.navbar-default .navbar-nav li a {
  color: #fff;
}
/* line 25, ../sass/basic_layout.scss */
#navbar.navbar-default .navbar-nav li a:hover {
  color: #777;
}
/* line 29, ../sass/basic_layout.scss */
#navbar.navbar-default .navbar-nav > .active > a {
  color: #777;
  background: transparent;
}
/* line 33, ../sass/basic_layout.scss */
#navbar.navbar-default .navbar-nav > .active > a:hover {
  color: #777;
  background: transparent;
}
/* line 37, ../sass/basic_layout.scss */
#navbar.navbar-default .navbar-nav > .active > a:focus {
  color: #777;
  background: transparent;
}

/* line 44, ../sass/basic_layout.scss */
.site-footer {
  background: #000;
}
/* line 46, ../sass/basic_layout.scss */
.site-footer .footer {
  margin-top: 0;
  border: 0;
}
/* line 50, ../sass/basic_layout.scss */
.site-footer a {
  color: #777;
}
/* line 53, ../sass/basic_layout.scss */
.site-footer .timings {
  text-align: right;
}
/* line 56, ../sass/basic_layout.scss */
.site-footer .social {
  text-align: center;
}
/* line 58, ../sass/basic_layout.scss */
.site-footer .social .social-icons {
  margin-bottom: 30px;
}
/* line 60, ../sass/basic_layout.scss */
.site-footer .social .social-icons a {
  display: inline-block;
  margin: 0 8px 0 0;
  width: 31px;
  height: 31px;
  border: 2px solid #fff;
  border-radius: 50%;
}
/* line 67, ../sass/basic_layout.scss */
.site-footer .social .social-icons a:hover {
  background: white;
}
/* line 69, ../sass/basic_layout.scss */
.site-footer .social .social-icons a:hover i {
  color: #000;
}
/* line 73, ../sass/basic_layout.scss */
.site-footer .social .social-icons a:last-child {
  margin: 0;
}
/* line 76, ../sass/basic_layout.scss */
.site-footer .social .social-icons a i {
  color: #fff;
}
/* line 82, ../sass/basic_layout.scss */
.site-footer .email {
  margin-bottom: 10px;
}
/* line 85, ../sass/basic_layout.scss */
.site-footer .footer-title {
  color: #fff;
  font-weight: bold;
  margin-bottom: 15px;
}

/* line 94, ../sass/basic_layout.scss */
body.page-admin-dashboard .view-admin-dashboard table {
  border-spacing: 0;
  border-collapse: collapse;
}
/* line 98, ../sass/basic_layout.scss */
body.page-admin-dashboard .view-admin-dashboard table thead tr {
  background: #111;
  color: #fff;
}
/* line 104, ../sass/basic_layout.scss */
body.page-admin-dashboard .view-admin-dashboard table, body.page-admin-dashboard .view-admin-dashboard td, body.page-admin-dashboard .view-admin-dashboard th {
  border: 1px solid #ddd;
}
