@font-face {
  font-family: 'Franchise-Bold';
  src: url("../fonts/Franchise-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* line 3, ../sass/_mixin.scss */
body {
  color: #777;
  font: 400 15px/1.8 "Lato", sans-serif;
}

/* line 8, ../sass/_mixin.scss */
a {
  text-decoration: none;
  outline: none;
}

/* line 79, ../sass/_mixin.scss */
.node-type-blogs.html .video-body .comment-block .comment-section-form .form-actions .form-submit {
  background: #f12236;
  color: #fff;
  border: 0;
  padding: 8px 35px;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 0px;
}
/* line 87, ../sass/_mixin.scss */
.node-type-blogs.html .video-body .comment-block .comment-section-form .form-actions .form-submit span {
  display: none;
}

/* line 3, ../sass/blogs.scss */
.node-type-blogs.html {
  background: #fff;
}
/* line 5, ../sass/blogs.scss */
.node-type-blogs.html .page-container .container {
  width: 100% !important;
  padding: 0 !important;
}
/* line 9, ../sass/blogs.scss */
.node-type-blogs.html .main-container.container > .row {
  margin: 0 !important;
}
/* line 12, ../sass/blogs.scss */
.node-type-blogs.html .main-container.container > .row > section {
  padding: 0 !important;
}
/* line 15, ../sass/blogs.scss */
.node-type-blogs.html .page-header {
  display: none;
}
/* line 21, ../sass/blogs.scss */
.node-type-blogs.html .display-video {
  background: #30302e;
}
/* line 23, ../sass/blogs.scss */
.node-type-blogs.html .display-video .video-container {
  max-width: 650px;
  margin: auto;
}
/* line 26, ../sass/blogs.scss */
.node-type-blogs.html .display-video .video-container .media-youtube-video {
  position: relative;
  padding-bottom: 56.25%;
  /*16:9*/
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
/* line 32, ../sass/blogs.scss */
.node-type-blogs.html .display-video .video-container .media-youtube-video iframe, .node-type-blogs.html .display-video .video-container .media-youtube-video object, .node-type-blogs.html .display-video .video-container .media-youtube-video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}
/* line 43, ../sass/blogs.scss */
.node-type-blogs.html .video-body .comment-block {
  max-width: 650px;
  margin: auto;
  padding: 40px 0px;
}
@media (max-width: 767px) {
  /* line 43, ../sass/blogs.scss */
  .node-type-blogs.html .video-body .comment-block {
    padding: 20px;
  }
}
/* line 50, ../sass/blogs.scss */
.node-type-blogs.html .video-body .comment-block .comment-section-form {
  margin-bottom: 40px;
}
/* line 52, ../sass/blogs.scss */
.node-type-blogs.html .video-body .comment-block .comment-section-form input, .node-type-blogs.html .video-body .comment-block .comment-section-form textarea {
  border-radius: 0px;
}
/* line 55, ../sass/blogs.scss */
.node-type-blogs.html .video-body .comment-block .comment-section-form #edit-preview {
  display: none;
}
/* line 65, ../sass/blogs.scss */
.node-type-blogs.html .video-body .blog-body {
  background: #f3f3f3;
  padding: 40px 0;
}
@media (max-width: 767px) {
  /* line 65, ../sass/blogs.scss */
  .node-type-blogs.html .video-body .blog-body {
    padding: 20px;
  }
}
/* line 71, ../sass/blogs.scss */
.node-type-blogs.html .video-body .blog-body .blog-body-container {
  max-width: 650px;
  margin: auto;
  font-size: 0;
}
/* line 76, ../sass/blogs.scss */
.node-type-blogs.html .video-body .blog-body .author-info, .node-type-blogs.html .video-body .blog-body .display-body {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
}
/* line 81, ../sass/blogs.scss */
.node-type-blogs.html .video-body .blog-body .author-info {
  margin-bottom: 20px;
  line-height: 1.2;
}
/* line 84, ../sass/blogs.scss */
.node-type-blogs.html .video-body .blog-body .author-info .author {
  color: #333;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
}
/* line 90, ../sass/blogs.scss */
.node-type-blogs.html .video-body .blog-body .author-info .submitted {
  font-style: normal;
  padding-bottom: 10px;
  border-bottom: 1px solid #b7b6b6;
}
/* line 96, ../sass/blogs.scss */
.node-type-blogs.html .video-body .blog-body .display-body {
  color: #333;
}
@media (min-width: 768px) {
  /* line 100, ../sass/blogs.scss */
  .node-type-blogs.html .video-body .blog-body .author-info {
    width: 170px;
  }
  /* line 103, ../sass/blogs.scss */
  .node-type-blogs.html .video-body .blog-body .display-body {
    width: calc(100% - 170px);
    padding-left: 15px;
  }
}
/* line 112, ../sass/blogs.scss */
.node-type-blogs.html .comment-section-form ul li.comment_forbidden {
  width: 100%;
  text-align: center;
}
/* line 115, ../sass/blogs.scss */
.node-type-blogs.html .comment-section-form ul li.comment_forbidden span {
  display: inline-block;
  padding: 5px 10px;
  background: #000;
  color: #fff;
  text-transform: uppercase;
}
/* line 121, ../sass/blogs.scss */
.node-type-blogs.html .comment-section-form ul li.comment_forbidden span a {
  color: #fff;
  text-decoration: underline;
}
/* line 130, ../sass/blogs.scss */
.node-type-blogs.html .comment-block .comment-data {
  font-size: 0;
  margin-bottom: 25px;
}
/* line 133, ../sass/blogs.scss */
.node-type-blogs.html .comment-block .comment-data .profile-image {
  display: inline-block;
  vertical-align: top;
  width: 70px;
  height: 70px;
  overflow: hidden;
}
@media (max-width: 580px) {
  /* line 133, ../sass/blogs.scss */
  .node-type-blogs.html .comment-block .comment-data .profile-image {
    width: 45px;
    height: 45px;
  }
}
/* line 143, ../sass/blogs.scss */
.node-type-blogs.html .comment-block .comment-data .profile-image img {
  width: 100%;
  height: auto;
}
/* line 148, ../sass/blogs.scss */
.node-type-blogs.html .comment-block .comment-data .comment-desc {
  font-size: 14px;
  display: inline-block;
  vertical-align: top;
  width: calc(100% - 70px);
  padding-left: 15px;
}
@media (max-width: 580px) {
  /* line 148, ../sass/blogs.scss */
  .node-type-blogs.html .comment-block .comment-data .comment-desc {
    font-size: 12px;
    width: calc(100% - 45px);
    padding-left: 10px;
    line-height: 1.4;
  }
}
/* line 160, ../sass/blogs.scss */
.node-type-blogs.html .comment-block .comment-data .comment-desc .comment-name {
  font-size: 16px;
  color: #000;
}
@media (max-width: 580px) {
  /* line 160, ../sass/blogs.scss */
  .node-type-blogs.html .comment-block .comment-data .comment-desc .comment-name {
    font-size: 14px;
  }
}
/* line 167, ../sass/blogs.scss */
.node-type-blogs.html .comment-block .comment-data .comment-desc .comment-date {
  color: #aeaeae;
}
/* line 170, ../sass/blogs.scss */
.node-type-blogs.html .comment-block .comment-data .comment-desc .comment-body {
  line-height: 1.4;
}
