/* line 3, ../sass/_mixin.scss */
body {
  color: #777;
  font: 400 15px/1.8 "Lato", sans-serif;
}

/* line 8, ../sass/_mixin.scss */
a {
  text-decoration: none;
  outline: none;
}

/* line 3, ../sass/dashboard.scss */
#block-views-client-fitness-block-block {
  background: #181818;
  padding: 35px 20px;
  text-align: center;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
}
/* line 9, ../sass/dashboard.scss */
#block-views-client-fitness-block-block .block-title {
  margin-top: 0;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2.5rem;
  margin-bottom: 20px;
}
/* line 17, ../sass/dashboard.scss */
#block-views-client-fitness-block-block .slick-slider {
  margin: 0 -15px;
  padding: 0 20px;
}
/* line 23, ../sass/dashboard.scss */
#block-views-client-fitness-block-block .slick-slider .slick-prev {
  left: 4px;
}
/* line 26, ../sass/dashboard.scss */
#block-views-client-fitness-block-block .slick-slider .slick-next {
  right: 5px;
}
/* line 30, ../sass/dashboard.scss */
#block-views-client-fitness-block-block .slick-slide {
  margin-right: 15px;
  margin-left: 15px;
}
/* line 35, ../sass/dashboard.scss */
#block-views-client-fitness-block-block .view-content .views-field {
  padding: 15px 10px;
  background: #222222;
  color: #fff;
}
/* line 43, ../sass/dashboard.scss */
#block-views-client-fitness-block-block .view-content .views-field .views-label {
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  font-size: 1.6rem;
}
/* line 48, ../sass/dashboard.scss */
#block-views-client-fitness-block-block .view-content .views-field .views-label:before {
  content: "\f004";
  font-family: FontAwesome;
  background: #525252;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: block;
  margin: auto;
  font-size: 24px;
  color: #232323;
  margin-bottom: 5px;
}
/* line 61, ../sass/dashboard.scss */
#block-views-client-fitness-block-block .view-content .views-field .views-label:after {
  content: "";
  height: 2px;
  width: 70%;
  background: #313131;
  display: block;
  margin-left: 15%;
}

/* line 75, ../sass/dashboard.scss */
.view-client-goal-block {
  margin-top: 40px;
  padding: 0 20px 0 0;
  width: 60%;
}
/* line 84, ../sass/dashboard.scss */
.view-client-goal-block .goal-box .images {
  font-size: 0;
  margin-top: 20px;
}
/* line 87, ../sass/dashboard.scss */
.view-client-goal-block .goal-box .images img {
  width: 100%;
  height: auto;
}
/* line 91, ../sass/dashboard.scss */
.view-client-goal-block .goal-box .images .img-inner {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 5px;
}
/* line 95, ../sass/dashboard.scss */
.view-client-goal-block .goal-box .images .current {
  width: 50%;
  display: inline-block;
  vertical-align: top;
  padding-right: 10px;
}
/* line 101, ../sass/dashboard.scss */
.view-client-goal-block .goal-box .images .inspiration {
  width: 50%;
  display: inline-block;
  vertical-align: top;
  padding-left: 10px;
}
/* line 107, ../sass/dashboard.scss */
.view-client-goal-block .goal-box .images .image-text {
  text-align: center;
  padding: 2px 10px;
  color: #111;
  font-size: 1.5rem;
}
/* line 115, ../sass/dashboard.scss */
.view-client-goal-block .goal-box .description > div {
  padding: 15px 20px;
  background: #643CC1;
  display: inline-block;
  vertical-align: top;
  color: #fff;
  text-align: center;
  margin: 0 5px 5px 0;
}
/* line 123, ../sass/dashboard.scss */
.view-client-goal-block .goal-box .description > div .title {
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: bold;
}
/* line 129, ../sass/dashboard.scss */
.view-client-goal-block .goal-box .description .goal {
  background: #00A638;
}
/* line 131, ../sass/dashboard.scss */
.view-client-goal-block .goal-box .description .goal .title, .view-client-goal-block .goal-box .description .goal .content {
  font-size: 1.8rem;
}
/* line 135, ../sass/dashboard.scss */
.view-client-goal-block .goal-box .description .days {
  background: #FFA500;
}
/* line 138, ../sass/dashboard.scss */
.view-client-goal-block .goal-box .description .coach {
  background: #E87352;
}
/* line 141, ../sass/dashboard.scss */
.view-client-goal-block .goal-box .description .motivation {
  background: #377DE2;
}
