@font-face {
  font-family: 'Franchise-Bold';
  src: url("../fonts/Franchise-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* line 3, ../sass/_mixin.scss */
body {
  color: #777;
  font: 400 15px/1.8 "Lato", sans-serif;
}

/* line 8, ../sass/_mixin.scss */
a {
  text-decoration: none;
  outline: none;
}

/* line 239, ../sass/dashboard.scss */
.page-days-on-plan-leaderboard, .page-mass-lost-leaderboard, .page-dashboard {
  background: #0e0e0e;
}
/* line 242, ../sass/dashboard.scss */
.page-days-on-plan-leaderboard .page-header, .page-mass-lost-leaderboard .page-header, .page-dashboard .page-header {
  color: white;
  border: none;
  text-align: center;
}
@media (max-width: 767px) {
  /* line 242, ../sass/dashboard.scss */
  .page-days-on-plan-leaderboard .page-header, .page-mass-lost-leaderboard .page-header, .page-dashboard .page-header {
    font-size: 2.5rem;
    letter-spacing: 2px;
  }
}

/* line 257, ../sass/dashboard.scss */
.page-days-on-plan-leaderboard .view-display-id-page .view-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
/* line 261, ../sass/dashboard.scss */
.page-days-on-plan-leaderboard .view-display-id-page .view-content .views-row {
  vertical-align: top;
  font-size: 1.3rem;
  width: 350px;
  margin-bottom: 15px;
  padding: 0 5px;
}
@media (max-width: 640px) {
  /* line 261, ../sass/dashboard.scss */
  .page-days-on-plan-leaderboard .view-display-id-page .view-content .views-row {
    margin-bottom: 5px;
    padding: 0;
    font-size: 1.1rem;
  }
}
@media (max-width: 480px) {
  /* line 261, ../sass/dashboard.scss */
  .page-days-on-plan-leaderboard .view-display-id-page .view-content .views-row {
    width: 100%;
  }
}
/* line 275, ../sass/dashboard.scss */
.page-days-on-plan-leaderboard .view-display-id-page .view-content .views-row .views-field-nothing {
  background: #181818;
  padding: 15px 25px;
  box-shadow: 0px 1px 1px 0px #020202;
  line-height: 1.4;
}
@media (max-width: 480px) {
  /* line 275, ../sass/dashboard.scss */
  .page-days-on-plan-leaderboard .view-display-id-page .view-content .views-row .views-field-nothing {
    padding: 15px 10px;
  }
}
/* line 283, ../sass/dashboard.scss */
.page-days-on-plan-leaderboard .view-display-id-page .view-content .views-row .views-field-nothing .field-content {
  display: table;
  width: 100%;
}
/* line 286, ../sass/dashboard.scss */
.page-days-on-plan-leaderboard .view-display-id-page .view-content .views-row .views-field-nothing .field-content > div {
  display: table-cell;
  vertical-align: middle;
}
/* line 291, ../sass/dashboard.scss */
.page-days-on-plan-leaderboard .view-display-id-page .view-content .views-row .views-field-nothing .user-info, .page-days-on-plan-leaderboard .view-display-id-page .view-content .views-row .views-field-nothing .coach-info {
  padding-right: 5px;
}
/* line 294, ../sass/dashboard.scss */
.page-days-on-plan-leaderboard .view-display-id-page .view-content .views-row .views-field-nothing .coach-title {
  color: #fff;
}
/* line 297, ../sass/dashboard.scss */
.page-days-on-plan-leaderboard .view-display-id-page .view-content .views-row .views-field-nothing .coach-name {
  color: #b10029;
}
/* line 300, ../sass/dashboard.scss */
.page-days-on-plan-leaderboard .view-display-id-page .view-content .views-row .views-field-nothing .coach-photo {
  float: left;
  width: 30px;
  margin-right: 5px;
}
/* line 304, ../sass/dashboard.scss */
.page-days-on-plan-leaderboard .view-display-id-page .view-content .views-row .views-field-nothing .coach-photo img {
  border-radius: 50%;
}
/* line 308, ../sass/dashboard.scss */
.page-days-on-plan-leaderboard .view-display-id-page .view-content .views-row .views-field-nothing .days-on-plan {
  width: 40px;
}
/* line 310, ../sass/dashboard.scss */
.page-days-on-plan-leaderboard .view-display-id-page .view-content .views-row .views-field-nothing .days-on-plan .total-on {
  display: inline-block;
  background: #ed1b24;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  width: 40px;
  padding: 5px 0;
}
/* line 320, ../sass/dashboard.scss */
.page-days-on-plan-leaderboard .view-display-id-page .view-content .views-row .views-field-nothing .name {
  color: #fff;
  font-size: 1.8rem;
  font-weight: bold;
}
@media (max-width: 480px) {
  /* line 320, ../sass/dashboard.scss */
  .page-days-on-plan-leaderboard .view-display-id-page .view-content .views-row .views-field-nothing .name {
    font-size: 1.5rem;
  }
}
