@font-face {
  font-family: 'Franchise-Bold';
  src: url("../fonts/Franchise-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* line 3, ../sass/_mixin.scss */
body {
  color: #777;
  font: 400 15px/1.8 "Lato", sans-serif;
}

/* line 8, ../sass/_mixin.scss */
a {
  text-decoration: none;
  outline: none;
}

/* line 198, ../sass/home.scss */
body.front .page-header, body.front #first-time {
  display: none;
}
/* line 204, ../sass/home.scss */
body.front #home-page-banner-block .home-page-banner .slide a {
  width: 100%;
  display: inline-block;
}
/* line 209, ../sass/home.scss */
body.front #home-page-banner-block .home-page-banner .slick-slider {
  margin: 0;
}
/* line 211, ../sass/home.scss */
body.front #home-page-banner-block .home-page-banner .slick-slider img {
  display: inline-block;
  width: 100%;
  height: auto;
}
/* line 216, ../sass/home.scss */
body.front #home-page-banner-block .home-page-banner .slick-slider .slick-dots {
  bottom: 0;
}
/* line 220, ../sass/home.scss */
body.front #home-page-banner-block .home-page-banner .slick-slider .slick-dots li button:before {
  color: #fff;
  opacity: 1;
  font-size: 9px;
}
/* line 228, ../sass/home.scss */
body.front #home-page-banner-block .home-page-banner .slick-slider .slick-dots li.slick-active button:before {
  color: gray;
}
/* line 238, ../sass/home.scss */
body.front #main-categories-box {
  padding: 50px 0;
  text-align: center;
  background: #1a1a1a;
}
@media (max-width: 480px) {
  /* line 238, ../sass/home.scss */
  body.front #main-categories-box {
    padding: 30px 0;
  }
}
/* line 245, ../sass/home.scss */
body.front #main-categories-box .category-heading {
  margin-bottom: 40px;
}
@media (max-width: 480px) {
  /* line 245, ../sass/home.scss */
  body.front #main-categories-box .category-heading {
    margin-bottom: 20px;
  }
}
/* line 250, ../sass/home.scss */
body.front #main-categories-box .category-heading h1 {
  color: #fff;
  font-size: 24px;
  margin: 0;
  font-weight: bold;
  display: inline-block;
  border-bottom: 1px solid #696868;
  padding-bottom: 5px;
  letter-spacing: 3px;
}
@media (max-width: 480px) {
  /* line 250, ../sass/home.scss */
  body.front #main-categories-box .category-heading h1 {
    font-size: 16px;
  }
}
/* line 263, ../sass/home.scss */
body.front #main-categories-box .category-heading span {
  color: #ccc;
  font-size: 14px;
  display: inline-block;
  width: 100%;
}
@media (max-width: 480px) {
  /* line 263, ../sass/home.scss */
  body.front #main-categories-box .category-heading span {
    font-size: 12px;
  }
}
@media (min-width: 481px) {
  /* line 273, ../sass/home.scss */
  body.front #main-categories-box .main-category-inner {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    max-width: 810px;
    margin: auto;
  }
}
/* line 284, ../sass/home.scss */
body.front #main-categories-box .main-category {
  vertical-align: top;
  width: 25%;
  padding: 0 10px;
}
@media (max-width: 480px) {
  /* line 284, ../sass/home.scss */
  body.front #main-categories-box .main-category {
    width: 100%;
    max-width: 130px;
    margin: auto;
    padding: 15px 0px;
  }
}
/* line 294, ../sass/home.scss */
body.front #main-categories-box .main-category a {
  display: inline-block;
  width: auto;
}
/* line 297, ../sass/home.scss */
body.front #main-categories-box .main-category a img {
  width: 100%;
  height: auto;
}
