/* line 3, ../sass/_mixin.scss */
body {
  color: #777;
  font: 400 15px/1.8 "Lato", sans-serif;
}

/* line 8, ../sass/_mixin.scss */
a {
  text-decoration: none;
  outline: none;
}

/* line 13, ../sass/_mixin.scss */
#homepage .section .read-more .read-more-btn {
  border: 2px solid #e7e7e7;
  text-transform: uppercase;
  padding: 8px 15px;
  border-radius: 24px;
  color: #777;
  text-decoration: none;
  outline: none;
}
/* line 21, ../sass/_mixin.scss */
#homepage .section .read-more .read-more-btn:hover {
  background: #e7e7e7;
}

/* line 3, ../sass/home.scss */
#homepage {
  padding-top: 60px;
}
/* line 5, ../sass/home.scss */
#homepage .section {
  text-align: center;
}
/* line 7, ../sass/home.scss */
#homepage .section .read-more {
  text-align: center;
  margin-top: 20px;
}
/* line 15, ../sass/home.scss */
#homepage .section .section-heading h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 3rem "Lato", sans-serif;
  color: #111;
  margin: 0 0 20px;
  text-align: center;
}
/* line 25, ../sass/home.scss */
#homepage .text-section {
  padding: 50px 80px;
}
/* line 28, ../sass/home.scss */
#homepage .intro-section {
  height: 100vh;
  display: table;
  background-image: url("../images/home/weights.jpeg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
/* line 37, ../sass/home.scss */
#homepage .intro-section .description {
  display: table-cell;
  vertical-align: middle;
}
/* line 40, ../sass/home.scss */
#homepage .intro-section .description p {
  font-family: 'Roboto Mono', monospace;
  font-size: 10rem;
  color: #fff;
  line-height: 1;
}
/* line 49, ../sass/home.scss */
#homepage .about-section .description {
  text-align: justify;
}
/* line 51, ../sass/home.scss */
#homepage .about-section .description p {
  font-size: 2rem;
}
/* line 57, ../sass/home.scss */
#homepage .services-section {
  padding-top: 50px;
}
/* line 82, ../sass/home.scss */
#homepage .services-section .services-container {
  font-size: 0;
}
/* line 84, ../sass/home.scss */
#homepage .services-section .services-container .service {
  font-size: 1.8rem;
  display: inline-block;
  vertical-align: top;
  height: 22vw;
  width: 25%;
}
/* line 90, ../sass/home.scss */
#homepage .services-section .services-container .service.service1 {
  background: url(../images/home/fitness.jpg) no-repeat;
  background-size: cover;
}
/* line 94, ../sass/home.scss */
#homepage .services-section .services-container .service.service2 {
  background: url(../images/home/index.jpeg) no-repeat;
  background-size: cover;
}
/* line 98, ../sass/home.scss */
#homepage .services-section .services-container .service.service3 {
  background: url(../images/home/two.jpeg) no-repeat;
  background-size: cover;
}
/* line 102, ../sass/home.scss */
#homepage .services-section .services-container .service.service4 {
  background: url(../images/home/workout.jpg) no-repeat;
  background-size: cover;
}
/* line 106, ../sass/home.scss */
#homepage .services-section .services-container .service.service5 {
  background: url(../images/home/two.jpeg) no-repeat;
}
/* line 109, ../sass/home.scss */
#homepage .services-section .services-container .service.service6 {
  background: url(../images/home/workout.jpg) no-repeat;
  background-size: cover;
}
/* line 113, ../sass/home.scss */
#homepage .services-section .services-container .service.service7 {
  background: url(../images/home/fitness.jpg) no-repeat;
  background-size: cover;
}
/* line 117, ../sass/home.scss */
#homepage .services-section .services-container .service.service8 {
  background: url(../images/home/index.jpeg) no-repeat;
  background-size: cover;
}
/* line 121, ../sass/home.scss */
#homepage .services-section .services-container .service a {
  display: inline-block;
  height: 100%;
  width: 100%;
  text-align: center;
  overflow: hidden;
  text-decoration: none;
  outline: none;
  position: relative;
}
/* line 130, ../sass/home.scss */
#homepage .services-section .services-container .service a .square {
  height: 100%;
  display: table;
  width: 100%;
}
/* line 135, ../sass/home.scss */
#homepage .services-section .services-container .service a .service-name {
  display: none;
  vertical-align: middle;
  color: #fff;
  z-index: 2;
  position: relative;
  font-weight: bold;
  -webkit-transition: all 1s linear;
  /* Safari */
  transition: all 1s linear;
}
/* line 145, ../sass/home.scss */
#homepage .services-section .services-container .service a .overlay {
  -webkit-transition: all 1s linear;
  /* Safari */
  transition: all 1s linear;
}
/* line 149, ../sass/home.scss */
#homepage .services-section .services-container .service a:hover {
  -webkit-transition: all 1s linear;
  /* Safari */
  transition: all 1s linear;
}
/* line 152, ../sass/home.scss */
#homepage .services-section .services-container .service a:hover .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-transition: all 1s linear;
  /* Safari */
  transition: all 1s linear;
}
/* line 161, ../sass/home.scss */
#homepage .services-section .services-container .service a:hover .service-name {
  -webkit-transition: all 1s linear;
  /* Safari */
  transition: all 1s linear;
  display: table-cell;
}
/* line 172, ../sass/home.scss */
#homepage .excellence-section p {
  margin: 0;
  font-size: 3rem;
  color: #111;
}
