@font-face {
  font-family: 'Franchise-Bold';
  src: url("../fonts/Franchise-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* line 3, ../sass/_mixin.scss */
body {
  color: #777;
  font: 400 15px/1.8 "Lato", sans-serif;
}

/* line 8, ../sass/_mixin.scss */
a {
  text-decoration: none;
  outline: none;
}

/* line 79, ../sass/_mixin.scss */
.page-node-add #block-system-main .node-form .form-actions .form-submit, .page-node-edit #block-system-main .node-form .form-actions .form-submit {
  background: #f12236;
  color: #fff;
  border: 0;
  padding: 8px 35px;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 0px;
}
/* line 87, ../sass/_mixin.scss */
.page-node-add #block-system-main .node-form .form-actions .form-submit span, .page-node-edit #block-system-main .node-form .form-actions .form-submit span {
  display: none;
}

/* line 3, ../sass/page_layout.scss */
.breadcrumb {
  display: none;
}

/* line 8, ../sass/page_layout.scss */
.page-node-add .page-header, .page-node-edit .page-header {
  background: url("../images/Banner_Image.jpg") 0 0 no-repeat;
  height: 180px;
  vertical-align: middle;
  line-height: 180px;
  text-align: center;
  text-shadow: -1px 0 red, 0 1px red, 1px 0 red, 0 -1px red;
  color: #fff;
  margin: 30px auto 50px;
  font-family: 'Bevan', cursive;
  text-transform: uppercase;
  max-width: 790px;
  font-size: 28px;
  border: 0;
}
/* line 24, ../sass/page_layout.scss */
.page-node-add #block-system-main .node-form, .page-node-edit #block-system-main .node-form {
  max-width: 790px;
  margin: auto;
  padding-bottom: 50px;
}
/* line 29, ../sass/page_layout.scss */
.page-node-add #block-system-main .node-form .field-type-datetime .panel-heading, .page-node-edit #block-system-main .node-form .field-type-datetime .panel-heading {
  border: 0;
  background: transparent;
  padding: 0;
}
/* line 33, ../sass/page_layout.scss */
.page-node-add #block-system-main .node-form .field-type-datetime .panel-heading span.panel-title, .page-node-edit #block-system-main .node-form .field-type-datetime .panel-heading span.panel-title {
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
}
/* line 39, ../sass/page_layout.scss */
.page-node-add #block-system-main .node-form .field-type-datetime .panel-body, .page-node-edit #block-system-main .node-form .field-type-datetime .panel-body {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0px;
}
/* line 43, ../sass/page_layout.scss */
.page-node-add #block-system-main .node-form .field-type-datetime .panel-body .date-float, .page-node-edit #block-system-main .node-form .field-type-datetime .panel-body .date-float {
  display: none;
}
/* line 46, ../sass/page_layout.scss */
.page-node-add #block-system-main .node-form .field-type-datetime .panel-body label, .page-node-edit #block-system-main .node-form .field-type-datetime .panel-body label {
  display: none;
}
/* line 50, ../sass/page_layout.scss */
.page-node-add #block-system-main .node-form .field-type-datetime .panel-body .end-date-wrapper > label, .page-node-edit #block-system-main .node-form .field-type-datetime .panel-body .end-date-wrapper > label {
  display: inline-block;
  vertical-align: top;
  padding: 0 20px;
}
@media (max-width: 767px) {
  /* line 50, ../sass/page_layout.scss */
  .page-node-add #block-system-main .node-form .field-type-datetime .panel-body .end-date-wrapper > label, .page-node-edit #block-system-main .node-form .field-type-datetime .panel-body .end-date-wrapper > label {
    display: block;
    padding: 0;
    text-align: center;
  }
}
/* line 60, ../sass/page_layout.scss */
.page-node-add #block-system-main .node-form .field-type-datetime .panel-body .end-date-wrapper > div, .page-node-edit #block-system-main .node-form .field-type-datetime .panel-body .end-date-wrapper > div {
  float: none;
  display: inline-block;
}
@media (min-width: 768px) {
  /* line 66, ../sass/page_layout.scss */
  .page-node-add #block-system-main .node-form .field-type-datetime .panel-body .date-no-float, .page-node-edit #block-system-main .node-form .field-type-datetime .panel-body .date-no-float {
    display: inline-block;
    width: auto;
    margin: 0px;
  }
}
@media (min-width: 768px) {
  /* line 73, ../sass/page_layout.scss */
  .page-node-add #block-system-main .node-form .field-type-datetime .panel-body .container-inline-date .date-padding, .page-node-edit #block-system-main .node-form .field-type-datetime .panel-body .container-inline-date .date-padding {
    padding: 0;
  }
}
/* line 78, ../sass/page_layout.scss */
.page-node-add #block-system-main .node-form .field-type-datetime fieldset, .page-node-edit #block-system-main .node-form .field-type-datetime fieldset {
  background: transparent;
  border: 0;
}
/* line 83, ../sass/page_layout.scss */
.page-node-add #block-system-main .node-form .form-wrapper.form-group, .page-node-edit #block-system-main .node-form .form-wrapper.form-group {
  margin-bottom: 20px;
}
/* line 86, ../sass/page_layout.scss */
.page-node-add #block-system-main .node-form input, .page-node-add #block-system-main .node-form textarea, .page-node-add #block-system-main .node-form select, .page-node-edit #block-system-main .node-form input, .page-node-edit #block-system-main .node-form textarea, .page-node-edit #block-system-main .node-form select {
  border-radius: 0px;
}
/* line 89, ../sass/page_layout.scss */
.page-node-add #block-system-main .node-form label.control-label, .page-node-edit #block-system-main .node-form label.control-label {
  text-transform: uppercase;
}
/* line 92, ../sass/page_layout.scss */
.page-node-add #block-system-main .node-form #edit-preview, .page-node-edit #block-system-main .node-form #edit-preview {
  display: none;
}
/* line 106, ../sass/page_layout.scss */
.page-node-add #check-in-node-form > div, .page-node-edit #check-in-node-form > div {
  font-size: 0;
}
/* line 108, ../sass/page_layout.scss */
.page-node-add #check-in-node-form > div *, .page-node-edit #check-in-node-form > div * {
  font-size: 14px;
}
/* line 112, ../sass/page_layout.scss */
.page-node-add #check-in-node-form > div #edit-field-check-in-date .panel-heading, .page-node-add #check-in-node-form > div #edit-field-percent-bodyfat .panel-heading, .page-node-add #check-in-node-form > div #edit-field-bodyweight .panel-heading, .page-node-edit #check-in-node-form > div #edit-field-check-in-date .panel-heading, .page-node-edit #check-in-node-form > div #edit-field-percent-bodyfat .panel-heading, .page-node-edit #check-in-node-form > div #edit-field-bodyweight .panel-heading {
  margin-bottom: 10px;
}
/* line 114, ../sass/page_layout.scss */
.page-node-add #check-in-node-form > div #edit-field-check-in-date .panel-heading span, .page-node-add #check-in-node-form > div #edit-field-percent-bodyfat .panel-heading span, .page-node-add #check-in-node-form > div #edit-field-bodyweight .panel-heading span, .page-node-edit #check-in-node-form > div #edit-field-check-in-date .panel-heading span, .page-node-edit #check-in-node-form > div #edit-field-percent-bodyfat .panel-heading span, .page-node-edit #check-in-node-form > div #edit-field-bodyweight .panel-heading span {
  display: inline-block;
  line-height: 1.42;
}
/* line 119, ../sass/page_layout.scss */
.page-node-add #check-in-node-form > div #edit-field-check-in-date .panel-body, .page-node-add #check-in-node-form > div #edit-field-percent-bodyfat .panel-body, .page-node-add #check-in-node-form > div #edit-field-bodyweight .panel-body, .page-node-edit #check-in-node-form > div #edit-field-check-in-date .panel-body, .page-node-edit #check-in-node-form > div #edit-field-percent-bodyfat .panel-body, .page-node-edit #check-in-node-form > div #edit-field-bodyweight .panel-body {
  padding: 0;
}
/* line 122, ../sass/page_layout.scss */
.page-node-add #check-in-node-form > div #edit-field-check-in-date .panel-body *, .page-node-add #check-in-node-form > div #edit-field-percent-bodyfat .panel-body *, .page-node-add #check-in-node-form > div #edit-field-bodyweight .panel-body *, .page-node-edit #check-in-node-form > div #edit-field-check-in-date .panel-body *, .page-node-edit #check-in-node-form > div #edit-field-percent-bodyfat .panel-body *, .page-node-edit #check-in-node-form > div #edit-field-bodyweight .panel-body * {
  width: 100% !important;
  float: none;
}
@media (min-width: 768px) {
  /* line 111, ../sass/page_layout.scss */
  .page-node-add #check-in-node-form > div #edit-field-check-in-date, .page-node-add #check-in-node-form > div #edit-field-percent-bodyfat, .page-node-add #check-in-node-form > div #edit-field-bodyweight, .page-node-edit #check-in-node-form > div #edit-field-check-in-date, .page-node-edit #check-in-node-form > div #edit-field-percent-bodyfat, .page-node-edit #check-in-node-form > div #edit-field-bodyweight {
    display: inline-block;
    width: 33.33%;
    vertical-align: top;
  }
}
@media (min-width: 768px) {
  /* line 133, ../sass/page_layout.scss */
  .page-node-add #check-in-node-form > div #edit-field-check-in-date, .page-node-edit #check-in-node-form > div #edit-field-check-in-date {
    padding-right: 5px;
  }
  /* line 136, ../sass/page_layout.scss */
  .page-node-add #check-in-node-form > div #edit-field-percent-bodyfat, .page-node-edit #check-in-node-form > div #edit-field-percent-bodyfat {
    padding: 0 5px;
  }
  /* line 139, ../sass/page_layout.scss */
  .page-node-add #check-in-node-form > div #edit-field-bodyweight, .page-node-edit #check-in-node-form > div #edit-field-bodyweight {
    padding-left: 5px;
  }
}
/* line 144, ../sass/page_layout.scss */
.page-node-add #check-in-node-form label, .page-node-edit #check-in-node-form label {
  color: #fff;
}
/* line 147, ../sass/page_layout.scss */
.page-node-add #check-in-node-form fieldset, .page-node-edit #check-in-node-form fieldset {
  border: 0;
  background: transparent;
}
/* line 150, ../sass/page_layout.scss */
.page-node-add #check-in-node-form fieldset.group-circumference-measures, .page-node-add #check-in-node-form fieldset.group-skinfolds, .page-node-add #check-in-node-form fieldset.group-progress-photo, .page-node-edit #check-in-node-form fieldset.group-circumference-measures, .page-node-edit #check-in-node-form fieldset.group-skinfolds, .page-node-edit #check-in-node-form fieldset.group-progress-photo {
  font-size: 0;
}
/* line 152, ../sass/page_layout.scss */
.page-node-add #check-in-node-form fieldset.group-circumference-measures .panel-heading, .page-node-add #check-in-node-form fieldset.group-skinfolds .panel-heading, .page-node-add #check-in-node-form fieldset.group-progress-photo .panel-heading, .page-node-edit #check-in-node-form fieldset.group-circumference-measures .panel-heading, .page-node-edit #check-in-node-form fieldset.group-skinfolds .panel-heading, .page-node-edit #check-in-node-form fieldset.group-progress-photo .panel-heading {
  display: inline-block;
  vertical-align: top;
  width: 33.33%;
  font-size: 14px;
  padding: 0;
  background: transparent;
  border: 0;
  padding-top: 100px;
}
/* line 161, ../sass/page_layout.scss */
.page-node-add #check-in-node-form fieldset.group-circumference-measures .panel-heading a, .page-node-add #check-in-node-form fieldset.group-skinfolds .panel-heading a, .page-node-add #check-in-node-form fieldset.group-progress-photo .panel-heading a, .page-node-edit #check-in-node-form fieldset.group-circumference-measures .panel-heading a, .page-node-edit #check-in-node-form fieldset.group-skinfolds .panel-heading a, .page-node-edit #check-in-node-form fieldset.group-progress-photo .panel-heading a {
  padding: 0;
  font-size: 18px;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  pointer-events: none;
  margin: 0;
}
/* line 171, ../sass/page_layout.scss */
.page-node-add #check-in-node-form fieldset.group-circumference-measures .panel-collapse, .page-node-add #check-in-node-form fieldset.group-skinfolds .panel-collapse, .page-node-add #check-in-node-form fieldset.group-progress-photo .panel-collapse, .page-node-edit #check-in-node-form fieldset.group-circumference-measures .panel-collapse, .page-node-edit #check-in-node-form fieldset.group-skinfolds .panel-collapse, .page-node-edit #check-in-node-form fieldset.group-progress-photo .panel-collapse {
  display: inline-block;
  vertical-align: top;
  width: 66.66%;
  font-size: 14px;
  border-left: 1px solid #fff;
}
/* line 177, ../sass/page_layout.scss */
.page-node-add #check-in-node-form fieldset.group-circumference-measures .panel-collapse .panel-body, .page-node-add #check-in-node-form fieldset.group-skinfolds .panel-collapse .panel-body, .page-node-add #check-in-node-form fieldset.group-progress-photo .panel-collapse .panel-body, .page-node-edit #check-in-node-form fieldset.group-circumference-measures .panel-collapse .panel-body, .page-node-edit #check-in-node-form fieldset.group-skinfolds .panel-collapse .panel-body, .page-node-edit #check-in-node-form fieldset.group-progress-photo .panel-collapse .panel-body {
  padding: 0 10px;
  border: 0;
  font-size: 0;
  width: 100%;
}
/* line 182, ../sass/page_layout.scss */
.page-node-add #check-in-node-form fieldset.group-circumference-measures .panel-collapse .panel-body > div, .page-node-add #check-in-node-form fieldset.group-skinfolds .panel-collapse .panel-body > div, .page-node-add #check-in-node-form fieldset.group-progress-photo .panel-collapse .panel-body > div, .page-node-edit #check-in-node-form fieldset.group-circumference-measures .panel-collapse .panel-body > div, .page-node-edit #check-in-node-form fieldset.group-skinfolds .panel-collapse .panel-body > div, .page-node-edit #check-in-node-form fieldset.group-progress-photo .panel-collapse .panel-body > div {
  font-size: 14px;
  width: 33.33%;
  padding: 10px;
  display: inline-block;
  vertical-align: top;
}
/* line 188, ../sass/page_layout.scss */
.page-node-add #check-in-node-form fieldset.group-circumference-measures .panel-collapse .panel-body > div label, .page-node-add #check-in-node-form fieldset.group-skinfolds .panel-collapse .panel-body > div label, .page-node-add #check-in-node-form fieldset.group-progress-photo .panel-collapse .panel-body > div label, .page-node-edit #check-in-node-form fieldset.group-circumference-measures .panel-collapse .panel-body > div label, .page-node-edit #check-in-node-form fieldset.group-skinfolds .panel-collapse .panel-body > div label, .page-node-edit #check-in-node-form fieldset.group-progress-photo .panel-collapse .panel-body > div label {
  display: inline-block;
  vertical-align: top;
  padding-right: 5px;
}
/* line 193, ../sass/page_layout.scss */
.page-node-add #check-in-node-form fieldset.group-circumference-measures .panel-collapse .panel-body > div input, .page-node-add #check-in-node-form fieldset.group-skinfolds .panel-collapse .panel-body > div input, .page-node-add #check-in-node-form fieldset.group-progress-photo .panel-collapse .panel-body > div input, .page-node-edit #check-in-node-form fieldset.group-circumference-measures .panel-collapse .panel-body > div input, .page-node-edit #check-in-node-form fieldset.group-skinfolds .panel-collapse .panel-body > div input, .page-node-edit #check-in-node-form fieldset.group-progress-photo .panel-collapse .panel-body > div input {
  display: inline-block;
  vertical-align: top;
}
/* line 200, ../sass/page_layout.scss */
.page-node-add #check-in-node-form fieldset.group-circumference-measures input, .page-node-add #check-in-node-form fieldset.group-skinfolds input, .page-node-add #check-in-node-form fieldset.group-progress-photo input, .page-node-edit #check-in-node-form fieldset.group-circumference-measures input, .page-node-edit #check-in-node-form fieldset.group-skinfolds input, .page-node-edit #check-in-node-form fieldset.group-progress-photo input {
  width: 34px;
  padding: 5px;
}
