@font-face {
  font-family: 'Franchise-Bold';
  src: url("../fonts/Franchise-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* line 3, ../sass/_mixin.scss */
body {
  color: #777;
  font: 400 15px/1.8 "Lato", sans-serif;
}

/* line 8, ../sass/_mixin.scss */
a {
  text-decoration: none;
  outline: none;
}

/* line 3, ../sass/page_layout.scss */
.breadcrumb {
  display: none;
}

/* line 8, ../sass/page_layout.scss */
.page-node-add .page-header, .page-node-edit .page-header {
  background: url("../images/Banner_Image.jpg") 0 0 no-repeat;
  height: 180px;
  vertical-align: middle;
  line-height: 180px;
  text-align: center;
  text-shadow: -1px 0 red, 0 1px red, 1px 0 red, 0 -1px red;
  color: #fff;
  margin: 30px auto 50px;
  font-family: 'Bevan', cursive;
  text-transform: uppercase;
  max-width: 790px;
  font-size: 28px;
}
/* line 23, ../sass/page_layout.scss */
.page-node-add #block-system-main .node-form, .page-node-edit #block-system-main .node-form {
  max-width: 790px;
  margin: auto;
  padding-bottom: 50px;
}
/* line 28, ../sass/page_layout.scss */
.page-node-add #block-system-main .node-form .field-type-datetime .panel-heading, .page-node-edit #block-system-main .node-form .field-type-datetime .panel-heading {
  border: 0;
  background: transparent;
  padding: 0;
}
/* line 32, ../sass/page_layout.scss */
.page-node-add #block-system-main .node-form .field-type-datetime .panel-heading span.panel-title, .page-node-edit #block-system-main .node-form .field-type-datetime .panel-heading span.panel-title {
  color: #777;
  text-transform: uppercase;
  font-weight: 700;
}
/* line 38, ../sass/page_layout.scss */
.page-node-add #block-system-main .node-form .field-type-datetime .panel-body, .page-node-edit #block-system-main .node-form .field-type-datetime .panel-body {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0px;
}
/* line 42, ../sass/page_layout.scss */
.page-node-add #block-system-main .node-form .field-type-datetime .panel-body .date-float, .page-node-edit #block-system-main .node-form .field-type-datetime .panel-body .date-float {
  display: none;
}
/* line 45, ../sass/page_layout.scss */
.page-node-add #block-system-main .node-form .field-type-datetime .panel-body label, .page-node-edit #block-system-main .node-form .field-type-datetime .panel-body label {
  display: none;
}
/* line 49, ../sass/page_layout.scss */
.page-node-add #block-system-main .node-form .field-type-datetime .panel-body .end-date-wrapper > label, .page-node-edit #block-system-main .node-form .field-type-datetime .panel-body .end-date-wrapper > label {
  display: inline-block;
  vertical-align: top;
  padding: 0 20px;
}
@media (max-width: 767px) {
  /* line 49, ../sass/page_layout.scss */
  .page-node-add #block-system-main .node-form .field-type-datetime .panel-body .end-date-wrapper > label, .page-node-edit #block-system-main .node-form .field-type-datetime .panel-body .end-date-wrapper > label {
    display: block;
    padding: 0;
    text-align: center;
  }
}
/* line 59, ../sass/page_layout.scss */
.page-node-add #block-system-main .node-form .field-type-datetime .panel-body .end-date-wrapper > div, .page-node-edit #block-system-main .node-form .field-type-datetime .panel-body .end-date-wrapper > div {
  float: none;
  display: inline-block;
}
@media (min-width: 768px) {
  /* line 65, ../sass/page_layout.scss */
  .page-node-add #block-system-main .node-form .field-type-datetime .panel-body .date-no-float, .page-node-edit #block-system-main .node-form .field-type-datetime .panel-body .date-no-float {
    display: inline-block;
    width: auto;
    margin: 0px;
  }
}
@media (min-width: 768px) {
  /* line 72, ../sass/page_layout.scss */
  .page-node-add #block-system-main .node-form .field-type-datetime .panel-body .container-inline-date .date-padding, .page-node-edit #block-system-main .node-form .field-type-datetime .panel-body .container-inline-date .date-padding {
    padding: 0;
  }
}
/* line 77, ../sass/page_layout.scss */
.page-node-add #block-system-main .node-form .field-type-datetime fieldset, .page-node-edit #block-system-main .node-form .field-type-datetime fieldset {
  background: transparent;
  border: 0;
}
/* line 82, ../sass/page_layout.scss */
.page-node-add #block-system-main .node-form .form-wrapper.form-group, .page-node-edit #block-system-main .node-form .form-wrapper.form-group {
  margin-bottom: 20px;
}
/* line 85, ../sass/page_layout.scss */
.page-node-add #block-system-main .node-form input, .page-node-add #block-system-main .node-form textarea, .page-node-add #block-system-main .node-form select, .page-node-edit #block-system-main .node-form input, .page-node-edit #block-system-main .node-form textarea, .page-node-edit #block-system-main .node-form select {
  border-radius: 0px;
}
/* line 88, ../sass/page_layout.scss */
.page-node-add #block-system-main .node-form label.control-label, .page-node-edit #block-system-main .node-form label.control-label {
  text-transform: uppercase;
}
/* line 91, ../sass/page_layout.scss */
.page-node-add #block-system-main .node-form #edit-preview, .page-node-edit #block-system-main .node-form #edit-preview {
  display: none;
}
/* line 95, ../sass/page_layout.scss */
.page-node-add #block-system-main .node-form .form-actions .form-submit, .page-node-edit #block-system-main .node-form .form-actions .form-submit {
  background: #f12236;
  color: #fff;
  border: 0;
  padding: 8px 35px;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 0px;
}
/* line 103, ../sass/page_layout.scss */
.page-node-add #block-system-main .node-form .form-actions .form-submit span, .page-node-edit #block-system-main .node-form .form-actions .form-submit span {
  display: none;
}
