/* line 3, ../sass/_mixin.scss */
body {
  color: #777;
  font: 400 15px/1.8 "Lato", sans-serif;
}

/* line 8, ../sass/_mixin.scss */
a {
  text-decoration: none;
  outline: none;
}

/* line 56, ../sass/_mixin.scss */
#block-views-view-banner-block-1 .slick-dots {
  z-index: 150;
  bottom: 0;
  list-style-type: none;
}
/* line 60, ../sass/_mixin.scss */
#block-views-view-banner-block-1 .slick-dots li {
  width: auto;
  height: auto;
  margin: 5px 7px;
}
/* line 64, ../sass/_mixin.scss */
#block-views-view-banner-block-1 .slick-dots li button {
  width: 16px;
  height: 16px;
  border: 1px solid #fff;
  border-radius: 50%;
}
/* line 69, ../sass/_mixin.scss */
#block-views-view-banner-block-1 .slick-dots li button:before {
  content: none;
}
/* line 73, ../sass/_mixin.scss */
#block-views-view-banner-block-1 .slick-dots li.slick-active button {
  background: #fff;
}

/* line 3, ../sass/page_layout.scss */
.main-container {
  padding: 101px 8% 60px;
}

/* line 7, ../sass/page_layout.scss */
.main-container-banner {
  padding-top: 50px;
}

/* line 11, ../sass/page_layout.scss */
.page-header {
  font-family: "Oswald", sans-serif, Helvetica;
  text-transform: uppercase;
  color: #111;
  margin-bottom: 30px;
  margin-top: 40px;
}

/* line 21, ../sass/page_layout.scss */
form .form-control {
  background: #fff;
  border-radius: 0px;
}
/* line 26, ../sass/page_layout.scss */
form .form-item .btn {
  background: #111;
  border-color: #111;
}
/* line 31, ../sass/page_layout.scss */
form label {
  font-weight: normal;
  font-family: "Gudea", sans-serif, Helvetica;
}
/* line 35, ../sass/page_layout.scss */
form div > .btn {
  margin-top: 30px;
  background: #111;
  color: #fff;
  text-transform: uppercase;
  padding: 8px 30px;
  border: 2px solid #111;
  border-radius: 0;
  font-weight: bold;
}
/* line 49, ../sass/_mixin.scss */
form div > .btn:hover {
  background: #fff;
  color: #111;
  border-color: #111;
}

/* line 44, ../sass/page_layout.scss */
.highlighted.jumbotron {
  padding: 101px 0 0;
  margin: 0;
  background: transparent;
}

/* line 51, ../sass/page_layout.scss */
#block-views-view-banner-block-1 .slick-slider {
  margin-bottom: 0px;
}

/* line 60, ../sass/page_layout.scss */
.breadcrumb a {
  color: #111;
}
